In [1]:
import pandas as pd

In [2]:
df = pd.ExcelFile('15tab1Msia_Nov21.xlsx')

In [3]:
df

In [4]:
df.sheet_names

['J1_J4',
 'J5A',
 'J5B',
 'J5C',
 'J5D',
 'J6',
 'J7',
 'J8_J9',
 'J10',
 'J11',
 'J12_J13',
 'J14',
 'J15',
 'J16_J17',
 'J18',
 'J19',
 '4d_J20']

In [5]:
df.sheet_names[0]

'J1_J4'

In [6]:
#df.parse('J1_J4').head(40)

In [7]:
df1 = df.parse('J1_J4')
df1.head(20)

,"Jadual 1 - Indeks Harga Pengguna (2010=100), Nombor Indeks Kumpulan Utama dan Perubahan Peratus, Malaysia",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,"Jadual 3 - Indeks Harga Pengguna (2010=100), Nombor Indeks Kumpulan Utama dan Perubahan Peratus, Malaysia",Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Table 1 - Consumer Price Index (2010=100), Ind...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Table 3 - Consumer Price Index (2010=100), Ind...",NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,I. Nombor Indeks:,NOV,OKT,NOV,NaN,NaN,NaN,NaN,NaN,I. Nombor Purata Indeks Kumpulan Utama bagi Te...,NaN,NaN,JAN - NOV 2021 ; JAN - NOV 2020,NaN,NaN
3,NaN,Index Numbers:,2020,2021,2021,NaN,NaN,NaN,NaN,NaN,Average Index Numbers for Main Group for the P...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,II. Perubahan Peratus: ...,NOV,OKT,NOV -,NOV,NaN,NaN,NaN,NaN,II. Perubahan Peratus Nombor Purata Indeks di ...,NaN,NaN,JAN - NOV 2021 ; JAN - NOV 2020,NaN,NaN
6,NaN,Percentage Change: ...,2021,2021,2021,2020,NaN,NaN,NaN,NaN,Percentage Change for the Average Index Number...,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Nombor Indeks,NaN,NaN,Perubahan Peratus,NaN,NaN,NaN,NaN,NaN,Nombor Indeks,NaN,Perubahan Peratus,NaN,NaN
10,NaN,Kumpulan,Index Numbers,NaN,NaN,Percentage Change,NaN,NaN,Groups,NaN,Kumpulan,Index Numbers,NaN,NaN,NaN,Groups
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage Change,NaN,NaN
13,NaN,NaN,NOV,OKT,NOV,NOV 2021 /,NOV 2021 /,NaN,NaN,NaN,NaN,JAN - NOV,JAN - NOV,NaN,NaN,NaN
14,NaN,NaN,2020,2021,2021,OKT 2021,NOV 2020,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,*,Jumlah,120,123.7,124,0.242522,3.333333,*,Total,*,Jumlah,120.1,122.9,2.331391,*,Total
18,01,Makanan & Minuman Bukan Alkohol,135.1,137.9,138.7,0.580131,2.664693,01,Food & Non-Alcoholic Beverages,01,Makanan & Minuman Bukan Alkohol,134.7,136.9,1.633259,01,Food & Non-Alcoholic Beverages
19,02,Minuman Alkohol & Tembakau,168.8,169.2,169.3,0.059102,0.296209,02,Alcoholic Beverages & Tobacco,02,Minuman Alkohol & Tembakau,168.3,169.1,0.475342,02,Alcoholic Beverages & Tobacco

In [8]:
latest_year = pd.to_numeric(df.parse(0).iloc[3], errors = 'coerce').dropna().astype(int)[-1]
latest_year

2021

In [9]:
#df1.tail(40)

In [10]:
#df1.iloc[18,6]

In [11]:
#df1.iloc[18,8]

In [12]:
#df1.iloc[62,8]

In [13]:
#df1.iloc[62,6]

In [14]:
#print(df1.iloc[18,8],df1.iloc[18,6])

In [15]:
#print('\033[1m', 'hi')

In [16]:
print('\033[1m','Annual CPI changes of items: ', '\033[0m')
cpi = []
for i in range(18, 30):
    print(df1.iloc[i,8],df1.iloc[i,6],'%')
    cpi.append([df1.iloc[i,8],df1.iloc[i,6]])

for i in range(62,74):
    print(df1.iloc[i,8],df1.iloc[i,6],'%')
    cpi.append([df1.iloc[i,8],df1.iloc[i,6]])

 Annual CPI changes of items:
Food & Non-Alcoholic Beverages 2.6646928201332307 %
Alcoholic Beverages & Tobacco 0.2962085308056872 %
Clothing & Footwear -0.4282655246252738 %
Housing, Water, Electricity, Gas & Other Fuels 3.3840947546531304 %
Furnishings, Household Equipment & Routine Household Maintenance 2.570694087403599 %
Health 0.2411575562700942 %
Transport 12.732615083251714 %
Communication 0 %
Recreation Services & Culture 0.1779359430604881 %
Education 0.08264462809916885 %
Restaurants & Hotels 0.9070294784580413 %
Miscellaneous Goods & Services 0.08554319931564955 %
Food At Home 3.5714285714285845 %
011 Rice, Bread & Other Cereals 0.8057296329453819 %
012 Meat 9.294871794871803 %
013 Fish & Seafood 3.4996759559299915 %
014 Milk, Cheese & Eggs 4.200323101777062 %
015 Oils & Fats 4.170141784820683 %
016 Fruits 0.8112094395280194 %
017 Vegetables 3.4285714285714364 %
018 Sugar, Jam, Honey, Chocolate & Confectionery 0.7462686567164178 %
019 Food Products N.E.C 2.643171806167418 %
Food Away From Home 1.745810055865922 %
Coffee, Tea, Cocoa & Non-Alcoholic Beverages 0.44326241134751776 %

In [17]:
#for i in range(62,74):
#    print(df1.iloc[i,8],df1.iloc[i,6])

In [18]:
df_cpi = pd.DataFrame(cpi, columns=['Items', 'Changes'])

In [19]:
df_cpi

                                                Items    Changes
0                      Food & Non-Alcoholic Beverages   2.664693
1                       Alcoholic Beverages & Tobacco   0.296209
2                                 Clothing & Footwear  -0.428266
3      Housing, Water, Electricity, Gas & Other Fuels   3.384095
4   Furnishings, Household Equipment & Routine Hou...   2.570694
5                                              Health   0.241158
6                                           Transport  12.732615
7                                       Communication   0.000000
8                       Recreation Services & Culture   0.177936
9                                           Education   0.082645
10                               Restaurants & Hotels   0.907029
11                     Miscellaneous Goods & Services   0.085543
12                                       Food At Home   3.571429
13                    011 Rice, Bread & Other Cereals   0.805730
14                                           012 Meat   9.294872
15                                 013 Fish & Seafood   3.499676
16                            014 Milk, Cheese & Eggs   4.200323
17                                    015 Oils & Fats   4.170142
18                                         016 Fruits   0.811209
19                                     017 Vegetables   3.428571
20   018 Sugar, Jam, Honey, Chocolate & Confectionery   0.746269
21                            019 Food Products N.E.C   2.643172
22                                Food Away From Home   1.745810
23       Coffee, Tea, Cocoa & Non-Alcoholic Beverages   0.443262

In [20]:
#len(df_cpi.iloc[4,0])

In [21]:
"""
## THis command is to fill up CPI items ID

import pyodbc

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df_cpi.iterrows():
     cursor.execute("INSERT INTO Economy.CPI_items3 (CPI_items) values(?)", row.Items)
cnxn.commit()
cursor.close()

"""

'\n## THis command is to fill up CPI items ID\n\nimport pyodbc\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\nfor index, row in df_cpi.iterrows():\n     cursor.execute("INSERT INTO Economy.CPI_items3 (CPI_items) values(?)", row.Items)\ncnxn.commit()\ncursor.close()\n\n'

In [27]:
"""
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

for index, row in df_cpi.iterrows():
    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cnxn.commit()
cursor.close()

"""

In [28]:
#for index, row in df_cpi.iterrows():
 #       print(index+1, row.Items, row.Changes)

In [22]:
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

#for index, row in df_cpi.iterrows():
#    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
#                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

for index, row in df_cpi.iterrows():
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year='+str(latest_year)+', @Changes_percentage='+ str(row.Changes))

    
cnxn.commit()
cursor.close()