In [1]:
import pandas as pd

In [2]:
def monthToNum(Month):
    return {
            'JAN': 1,
            'FEB': 2,
            'MAR': 3,
            'APR': 4,
            'MAY': 5,
            'JUN': 6,
            'JUL': 7,
            'AUG': 8,
            'SEP': 9, 
            'OCT': 10,
            'NOV': 11,
            'DEC': 12
    }[Month]

In [3]:
df = pd.ExcelFile('PENERBITAN DISEMBER 2021.xlsx')

In [4]:
df.sheet_names

['Table 1',
 'Table 2',
 'Table 3',
 'Table 4',
 'Table 5',
 'Table 6',
 'Table 7',
 'Table 8 ',
 'Table 9',
 'Table 10',
 'Table 11',
 'Table 12',
 'Table 13',
 'Table 14',
 'Table 15',
 'Table 16',
 'Table 17',
 'Table 18',
 'Table 19',
 'Table 20',
 'Table 21',
 'Table 22',
 'Table 23',
 'Table 24',
 'Table 25']

In [5]:
df.sheet_names[0]

'Table 1'

In [6]:
df.parse('Table 1').head(10)

,"JADUAL 1 : EKSPORT, EKSPORT DOMESTIK, IMPORT, JUMLAH DAGANGAN DAN IMBANGAN DAGANGAN (RM JUTA)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,"TABLE 1 : EXPORTS, DOMESTIC EXPORTS, IMPORTS,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NILAI/VALUE,NaN,NaN,NaN,NaN,NaN,PERUBAHAN TAHUNAN/ ANNUAL CHANGE (%),NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,TEMPOH/,EKSPORT/,EKSPORT DOMESTIK/,IMPORT/,JUMLAH DAGANGAN/,IMBANGAN DAGANGAN/,NaN,EKSPORT/,EKSPORT DOMESTIK/,IMPORT/,JUMLAH DAGANGAN/,IMBANGAN DAGANGAN/
6,PERIOD,EXPORTS,DOMESTIC EXPORTS,IMPORTS,TOTAL TRADE,BALANCE OF TRADE,NaN,EXPORTS,DOMESTIC EXPORTS,IMPORTS,TOTAL TRADE,BALANCE OF TRADE
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2016,786964.158447,672996.45878,698818.66762,1485782.826067,88145.490827,NaN,1.236124,-0.174178,1.901522,1.548,-3.746757
9,2017,934926.819404,792126.500425,836422.182191,1771349.001595,98504.637213,NaN,18.801703,17.701437,19.690876,19.219914,11.752327

In [7]:
df1= df.parse('Table 1',header = 7)
df1.head(60)

,PERIOD,EXPORTS,DOMESTIC EXPORTS,IMPORTS,TOTAL TRADE,BALANCE OF TRADE,Unnamed: 6,EXPORTS.1,DOMESTIC EXPORTS.1,IMPORTS.1,TOTAL TRADE.1,BALANCE OF TRADE.1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,7.869642e+05,6.729965e+05,698818.667620,1.485783e+06,88145.490827,NaN,1.236124,-0.174178,1.901522,1.548000,-3.746757
2,2017,9.349268e+05,7.921265e+05,836422.182191,1.771349e+06,98504.637213,NaN,18.801703,17.701437,19.690876,19.219914,11.752327
3,2018,1.003587e+06,8.043346e+05,879804.015642,1.883391e+06,123782.852249,NaN,7.343895,1.541181,5.186595,6.325229,25.661954
4,2019,9.950719e+05,8.234837e+05,849410.811680,1.844483e+06,145661.104399,NaN,-0.848452,2.380732,-3.454543,-2.065857,17.674704
5,2020,9.838268e+05,7.991971e+05,800481.319743,1.784308e+06,183345.446176,NaN,-1.130084,-2.949239,-5.760404,-3.262413,25.871245
6,2021,1.239801e+06,1.010054e+06,987243.973997,2.227045e+06,252556.674583,NaN,26.018186,26.383567,23.331295,24.812785,37.749085
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Q1,2.397009e+05,1.964159e+05,199170.253216,4.388711e+05,40530.620129,NaN,0.435946,3.019404,-2.613276,-0.971197,18.699205
11,Q2,2.475973e+05,2.093673e+05,215115.644330,4.627130e+05,32481.674444,NaN,0.508939,7.657325,-1.395173,-0.385350,15.247675
12,Q3,2.495297e+05,2.053019e+05,213694.845834,4.632245e+05,35834.843629,NaN,-0.901139,0.960787,-5.718494,-3.183242,42.526508
13,Q4,2.582440e+05,2.123985e+05,221430.068300,4.796741e+05,36813.966197,NaN,-3.201114,-1.599755,-3.923939,-3.536136,1.386887
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Q1,2.391218e+05,1.957962e+05,203147.609136,4.422694e+05,35974.141228,NaN,-0.241602,-0.315521,1.996963,0.774312,-11.242066
17,Q2,2.106174e+05,1.704155e+05,185314.231689,3.959316e+05,25303.161704,NaN,-14.935511,-18.604552,-13.853671,-14.432563,-22.100193
18,Q3,2.623285e+05,2.105729e+05,200355.075335,4.626836e+05,61973.435557,NaN,5.129178,2.567453,-6.242439,-0.116779,72.941833
19,Q4,2.717591e+05,2.224125e+05,211664.403583,4.834235e+05,60094.707687,NaN,5.233452,4.714745,-4.410270,0.781658,63.238884
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Q1,2.821902e+05,2.306346e+05,223507.117833,5.056973e+05,58683.060382,NaN,18.011088,17.793179,10.022027,14.341472,63.125674
23,Q2,3.033904e+05,2.483492e+05,247021.484261,5.504119e+05,56368.922935,NaN,44.048126,45.731620,33.298712,39.016905,122.774227
24,Q3,3.037379e+05,2.433275e+05,242463.913096,5.462018e+05,61273.991124,NaN,15.785319,15.554995,21.017106,18.050831,-1.128620
25,Q4,3.504822e+05,2.877425e+05,274251.458807,6.247336e+05,76230.700142,NaN,28.967952,29.373336,29.569004,29.231119,26.850938
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,JAN,8.428845e+04,6.800782e+04,72249.892504,1.565383e+05,12038.556025,NaN,-2.377054,-1.277105,-2.261544,-2.323775,-3.064598
30,FEB,7.460409e+04,6.481511e+04,62160.441629,1.367645e+05,12443.643824,NaN,10.225648,13.350310,11.865314,10.964889,2.705600
31,MAR,8.022922e+04,6.297328e+04,68737.275003,1.489665e+05,11491.941379,NaN,-6.358516,-10.482077,-1.354878,-4.114283,-28.155740
32,APR,6.491102e+04,4.632741e+04,69375.547785,1.342866e+05,-4464.527969,NaN,-24.721520,-36.308181,-6.724219,-16.386882,-137.672006
33,MAY,6.280100e+04,5.406335e+04,52942.892286,1.157439e+05,9858.107112,NaN,-25.836025,-25.093148,-29.511497,-27.563695,3.010209
34,JUN,8.290537e+04,7.002470e+04,62995.791618,1.459012e+05,19909.582561,NaN,8.103297,8.638904,-4.014147,2.515433,80.004610
35,JUL,9.268208e+04,7.235523e+04,67424.248124,1.601063e+05,25257.833767,NaN,3.249798,0.833634,-8.634669,-2.112292,58.171987
36,AUG,8.075428e+04,6.660595e+04,65974.870402,1.467292e+05,14779.413398,NaN,-0.931114,-2.158525,-6.366695,-3.451253,33.721735
37,SEP,8.889215e+04,7.161176e+04,66955.956809,1.558481e+05,21936.188392,NaN,13.597979,9.381870,-3.573959,5.524410,148.882009
38,OCT,9.119022e+04,7.400392e+04,68930.985423,1.601212e+05,22259.234585,NaN,0.362380,2.292597,-5.946065,-2.454184,26.673197
39,NOV,8.472127e+04,6.981959e+04,67616.623101,1.523379e+05,17104.645499,NaN,4.662168,2.759250,-8.947484,-1.849512,155.818573
40,DEC,9.584762e+04,7.858903e+04,75116.795059,1.709644e+05,20730.827603,NaN,10.888917,8.987438,1.673841,6.642230,65.112839
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JAN,8.962550e+04,7.212009e+04,73022.995684,1.626485e+05,16602.502140,NaN,6.331887,6.046762,1.070041,3.903295,37.911076
45,FEB,8.756705e+04,7.142085e+04,69690.046662,1.572571e+05,17877.004660,NaN,17.375678,10.191669,12.113178,14.983835,43.663744
46,MAR,1.049976e+05,8.709364e+04,80794.075487,1.857917e+05,24203.553582,NaN,30.872061,38.302528,17.540411,24.720468,110.613270
47,APR,1.055902e+05,8.496040e+04,85231.264307,1.908214e+05,20358.917917,NaN,62.669116,83.391238,22.854906,42.100174,-556.015016
48,MAY,9.231344e+04,7.866077e+04,78559.839547,1.708733e+05,13753.604616,NaN,46.993591,45.497400,48.385999,47.630498,39.515674
49,JUN,1.054868e+05,8.472803e+04,83230.380407,1.887172e+05,22256.400402,NaN,27.237567,20.997352,32.120541,29.345890,11.787378
50,JUL,9.732067e+04,7.659147e+04,83563.733196,1.808844e+05,13756.934488,NaN,5.004836,5.854784,23.937212,12.977670,-45.533989
51,AUG,9.558653e+04,7.908072e+04,74198.500275,1.697850e+05,21388.032047,NaN,18.367135,18.729217,12.464791,15.713222,44.715027
52,SEP,1.108307e+05,8.765535e+04,84701.679625,1.955324e+05,26129.024589,NaN,24.679975,22.403575,26.503576,25.463436,19.113786
53,OCT,1.144301e+05,9.126021e+04,88129.911317,2.025600e+05,26300.162198,NaN,25.485028,23.318067,27.852389,26.504159,18.153938
54,NOV,1.122033e+05,9.373651e+04,93262.445957,2.054658e+05,18940.864955,NaN,32.438186,34.255311,37.928281,34.875017,10.735209
55,DEC,1.238488e+05,1.027458e+05,92859.101533,2.167079e+05,30989.672989,NaN,29.214237,30.738108,23.619627,26.756128,49.485942

In [8]:
for i in range(44, 56):
    print(df1.iloc[i,0], df1.iloc[i, 7] , df1.iloc[i, 8], df1.iloc[i, 9], df1.iloc[i, 10], df1.iloc[i, 11])

JAN 6.331886976379399 6.046762248841196 1.0700405955028782 3.9032945121808167 37.911075925735986
FEB 17.37567827591233 10.191669089243375 12.1131781494409 14.983834872410467 43.663744421233744
MAR 30.872061081923984 38.302527527372916 17.540410910199423 24.720467555234425 110.6132704977838
APR 62.66911615825968 83.39123822664992 22.8549064162175 42.10017423185593 -556.015015660438
MAY 46.993590942662394 45.4974000960176 48.38599886575149 47.63049801065301 39.51567435555776
JUN 27.237566748380814 20.997351865342363 32.12054054610579 29.34588985983304 11.787378433524134
JUL 5.004835560831787 5.854783878210093 23.937211791101998 12.977669816710765 -45.533989118363
AUG 18.367135245399815 18.72921672445492 12.464791249897935 15.713222447434882 44.71502671340322
SEP 24.679974775491402 22.403574980563956 26.50357587543979 25.46343607473235 19.1137864157343
OCT 25.48502844379714 23.318066994939738 27.852388553833073 26.50415932528552 18.153937852486102
NOV 32.438185553798476 34.25531105344878 37.928281064395115 34.87501669793115 10.735209075846438
DEC 29.214237226043814 30.738107595017567 23.619626556303977 26.75612793806582 49.48594230032302

In [9]:
df1.iloc[:,1]

0              NaN
1     7.869642e+05
2     9.349268e+05
3     1.003587e+06
4     9.950719e+05
5     9.838268e+05
6     1.239801e+06
7              NaN
8              NaN
9              NaN
10    2.397009e+05
11    2.475973e+05
12    2.495297e+05
13    2.582440e+05
14             NaN
15             NaN
16    2.391218e+05
17    2.106174e+05
18    2.623285e+05
19    2.717591e+05
20             NaN
21             NaN
22    2.821902e+05
23    3.033904e+05
24    3.037379e+05
25    3.504822e+05
26             NaN
27             NaN
28             NaN
29    8.428845e+04
30    7.460409e+04
31    8.022922e+04
32    6.491102e+04
33    6.280100e+04
34    8.290537e+04
35    9.268208e+04
36    8.075428e+04
37    8.889215e+04
38    9.119022e+04
39    8.472127e+04
40    9.584762e+04
41             NaN
42             NaN
43             NaN
44    8.962550e+04
45    8.756705e+04
46    1.049976e+05
47    1.055902e+05
48    9.231344e+04
49    1.054868e+05
50    9.732067e+04
51    9.558653e+04
52    1.108307e+05
53    1.144301e+05
54    1.122033e+05
55    1.238488e+05
Name: EXPORTS, dtype: float64

In [10]:
df1.iloc[:, 7]

0           NaN
1      1.236124
2     18.801703
3      7.343895
4     -0.848452
5     -1.130084
6     26.018186
7           NaN
8           NaN
9           NaN
10     0.435946
11     0.508939
12    -0.901139
13    -3.201114
14          NaN
15          NaN
16    -0.241602
17   -14.935511
18     5.129178
19     5.233452
20          NaN
21          NaN
22    18.011088
23    44.048126
24    15.785319
25    28.967952
26          NaN
27          NaN
28          NaN
29    -2.377054
30    10.225648
31    -6.358516
32   -24.721520
33   -25.836025
34     8.103297
35     3.249798
36    -0.931114
37    13.597979
38     0.362380
39     4.662168
40    10.888917
41          NaN
42          NaN
43          NaN
44     6.331887
45    17.375678
46    30.872061
47    62.669116
48    46.993591
49    27.237567
50     5.004836
51    18.367135
52    24.679975
53    25.485028
54    32.438186
55    29.214237
Name: EXPORTS.1, dtype: float64

In [11]:
#print('Export value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['EXPORTS'].iloc[-1],'million')

In [12]:
#print('Import value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['IMPORTS'].iloc[-1],'million')

In [13]:
#print('Total trade value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['TOTAL TRADE'].iloc[-1],'million')

In [14]:
df2= df.parse('Table 2', header = 6)
df2.head(60)

,YEAR,MONTH,ORIGINAL DATA,% CHANGE M-O-M,SEASONALLY ADJUSTED,% CHANGE M-O-M.1
0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017.0,JAN,70309.404589,-7.245332,70304.400000,-3.488474
2,NaN,FEB,71979.306222,2.375076,80648.200000,14.712877
3,NaN,MAR,82890.858103,15.159290,79020.900000,-2.017776
4,NaN,APR,74243.425839,-10.432311,75019.600000,-5.063597
5,NaN,MAY,79215.990063,6.697649,80274.000000,7.004036
6,NaN,JUN,72823.576835,-8.069600,76965.400000,-4.121633
7,NaN,JUL,78747.828253,8.135073,78782.100000,2.360411
8,NaN,AUG,82024.847847,4.161409,81020.100000,2.840747
9,NaN,SEP,77861.456973,-5.075768,77667.700000,-4.137739
10,NaN,OCT,81862.196892,5.138280,77296.300000,-0.478191
11,NaN,NOV,83485.946610,1.983516,81348.000000,5.241777
12,NaN,DEC,79481.981178,-4.795975,77175.300000,-5.129444
13,2018.0,JAN,83252.374097,4.743708,82086.800000,6.364083
14,NaN,FEB,70552.338027,-15.254864,79536.900000,-3.106346
15,NaN,MAR,84855.731676,20.273451,81628.800000,2.630100
16,NaN,APR,84636.362311,-0.258520,85543.100000,4.795244
17,NaN,MAY,82862.036666,-2.096411,83854.100000,-1.974443
18,NaN,JUN,78845.180411,-4.847644,84555.500000,0.836453
19,NaN,JUL,86474.633443,9.676499,84867.800000,0.369343
20,NaN,AUG,81982.175631,-5.195116,82123.200000,-3.233971
21,NaN,SEP,83341.938041,1.658607,83591.000000,1.787315
22,NaN,OCT,97122.030236,16.534403,89823.800000,7.456305
23,NaN,NOV,85542.538247,-11.922621,84283.300000,-6.168187
24,NaN,DEC,84119.529105,-1.663511,81347.200000,-3.483608
25,2019.0,JAN,86340.816726,2.640632,84498.500000,3.873889
26,NaN,FEB,67683.054771,-21.609434,76339.400000,-9.655911
27,NaN,MAR,85677.001848,26.585601,83008.300000,8.735856
28,NaN,APR,86227.856480,0.642943,86732.200000,4.486178
29,NaN,MAY,84678.578412,-1.796726,85383.300000,-1.555247
30,NaN,JUN,76690.883882,-9.432958,82914.500000,-2.891432
31,NaN,JUL,89764.904260,17.047685,86988.600000,4.913616
32,NaN,AUG,81513.265567,-9.192500,82433.400000,-5.236548
33,NaN,SEP,78251.519636,-4.001491,78669.500000,-4.565989
34,NaN,OCT,90860.958317,16.113986,83597.200000,6.263800
35,NaN,NOV,80947.366191,-10.910728,80447.000000,-3.768308
36,NaN,DEC,86435.709989,6.780139,83294.700000,3.539846
37,2020.0,JAN,84288.448529,-2.484230,81838.100000,-1.748731
38,NaN,FEB,74604.085453,-11.489550,84221.000000,2.911724
39,NaN,MAR,80229.216382,7.539977,77970.300000,-7.421783
40,NaN,APR,64911.019816,-19.093040,64943.400000,-16.707516
41,NaN,MAY,62800.999398,-3.250635,63091.600000,-2.851406
42,NaN,JUN,82905.374179,32.012826,89813.000000,42.353340
43,NaN,JUL,92682.081891,11.792610,89033.800000,-0.867580
44,NaN,AUG,80754.283800,-12.869584,80585.700000,-9.488644
45,NaN,SEP,88892.145201,10.077312,89578.800000,11.159672
46,NaN,OCT,91190.220008,2.585239,83245.500000,-7.070088
47,NaN,NOV,84721.268600,-7.093909,84567.300000,1.587834
48,NaN,DEC,95847.622662,13.132894,92103.400000,8.911364
49,2021.0,JAN,89625.497824,-6.491684,86945.827423,-5.599764
50,NaN,FEB,87567.051322,-2.296720,99204.761946,14.099509
51,NaN,MAR,104997.629069,19.905407,102410.733930,3.231671
52,NaN,APR,105590.182224,0.564349,105665.204519,3.177861
53,NaN,MAY,92313.444163,-12.573838,92906.185627,-12.074948
54,NaN,JUN,105486.780809,14.270225,114568.636635,23.316479
55,NaN,JUL,97320.667684,-7.741362,93269.953599,-18.590326
56,NaN,AUG,95586.532322,-1.781878,97688.795195,4.737690
57,NaN,SEP,110830.704214,15.948033,111794.371698,14.439298
58,NaN,OCT,114430.073515,3.247628,104290.911135,-6.711841
59,NaN,NOV,112203.310912,-1.945959,112366.241963,7.743082

In [15]:
print('Export')
year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Export ',df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])

year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Export ',df2.iloc[i, 4], 'MoM changes: ',df2.iloc[i, 5], 'Annual changes: ', 100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])    
    
year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Export ',df2.iloc[i, 4], 'MoM changes: ',df2.iloc[i, 5], 'Annual changes: ', 100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])  
    
year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Export ',df2.iloc[i, 4], 'MoM changes: ',df2.iloc[i, 5], 'Annual changes: ', 100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])  
    
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Export ',df2.iloc[i, 4],'MoM changes: ', df2.iloc[i, 5], 'Annual changes: ', 100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])

Export
2017 JAN Export  70304.4 MoM changes:  -3.488474252391375
2017 FEB Export  80648.2 MoM changes:  14.71287714566941
2017 MAR Export  79020.9 MoM changes:  -2.0177759702014466
2017 APR Export  75019.6 MoM changes:  -5.063597098995315
2017 MAY Export  80274.0 MoM changes:  7.004036278519206
2017 JUN Export  76965.4 MoM changes:  -4.121633405585875
2017 JUL Export  78782.1 MoM changes:  2.3604113017018187
2017 AUG Export  81020.1 MoM changes:  2.8407468193917143
2017 SEP Export  77667.7 MoM changes:  -4.137738659912798
2017 OCT Export  77296.3 MoM changes:  -0.4781910626940082
2017 NOV Export  81348.0 MoM changes:  5.241777420135242
2017 DEC Export  77175.3 MoM changes:  -5.129443870777397
2018 JAN Export  82086.8 MoM changes:  6.364082808877971 Annual changes:  14.353586691161075
2018 FEB Export  79536.9 MoM changes:  -3.106345965490199 Annual changes:  -1.3972131174335471
2018 MAR Export  81628.8 MoM changes:  2.6300999913247924 Annual changes:  3.1948282958955767
2018 APR Export  85543.1 MoM changes:  4.79524383550904 Annual changes:  12.301985782605493
2018 MAY Export  83854.1 MoM changes:  -1.9744432923286623 Annual changes:  4.269439419181657
2018 JUN Export  84555.5 MoM changes:  0.8364528389190202 Annual changes:  8.976471075210963
2018 JUL Export  84867.8 MoM changes:  0.36934321244626656 Annual changes:  7.1707997615114305
2018 AUG Export  82123.2 MoM changes:  -3.2339709524696123 Annual changes:  1.3432257875971605
2018 SEP Export  83591.0 MoM changes:  1.7873146686928945 Annual changes:  7.086049933605295
2018 OCT Export  89823.8 MoM changes:  7.456305104616528 Annual changes:  13.946749079865247
2018 NOV Export  84283.3 MoM changes:  -6.168187050648046 Annual changes:  3.4826590795566887
2018 DEC Export  81347.2 MoM changes:  -3.4836082592874336 Annual changes:  5.128510876834106
2019 JAN Export  84498.5 MoM changes:  3.8738887140553127 Annual changes:  2.8541335053284933
2019 FEB Export  76339.4 MoM changes:  -9.655911051675481 Annual changes:  -4.1885317411454634
2019 MAR Export  83008.3 MoM changes:  8.735855927607512 Annual changes:  1.6618820045706273
2019 APR Export  86732.2 MoM changes:  4.486177888235265 Annual changes:  1.3710017732745063
2019 MAY Export  85383.3 MoM changes:  -1.5552470708687134 Annual changes:  1.790982545767143
2019 JUN Export  82914.5 MoM changes:  -2.891431931068491 Annual changes:  -1.9791471937960188
2019 JUL Export  86988.6 MoM changes:  4.913615833177557 Annual changes:  2.4380206141954264
2019 AUG Export  82433.4 MoM changes:  -5.236548237355253 Annual changes:  0.37630377977858137
2019 SEP Export  78669.5 MoM changes:  -4.565989028718935 Annual changes:  -6.255918748689136
2019 OCT Export  83597.2 MoM changes:  6.263799820769164 Annual changes:  -7.448335590187239
2019 NOV Export  80447.0 MoM changes:  -3.7683080294555285 Annual changes:  -4.76872972267456
2019 DEC Export  83294.7 MoM changes:  3.539846109861147 Annual changes:  2.3380839357125964
2020 JAN Export  81838.1 MoM changes:  -1.7487307115578679 Annual changes:  -3.2508086087042516
2020 FEB Export  84221.0 MoM changes:  2.911724490182438 Annual changes:  9.358236069388877
2020 MAR Export  77970.3 MoM changes:  -7.421783165718761 Annual changes:  -6.461434674485028
2020 APR Export  64943.4 MoM changes:  -16.707515553999407 Annual changes:  -33.55044546482013
2020 MAY Export  63091.6 MoM changes:  -2.8514059935266753 Annual changes:  -35.33227878196147
2020 JUN Export  89813.0 MoM changes:  42.35334022278719 Annual changes:  7.680959326600826
2020 JUL Export  89033.8 MoM changes:  -0.8675804170888368 Annual changes:  2.2971051443384387
2020 AUG Export  80585.7 MoM changes:  -9.488643638708002 Annual changes:  -2.2928385557239026
2020 SEP Export  89578.8 MoM changes:  11.15967224954304 Annual changes:  12.17843954149866
2020 OCT Export  83245.5 MoM changes:  -7.070088011895674 Annual changes:  -0.4224852995056755
2020 NOV Export  84567.3 MoM changes:  1.5878335765897291 Annual changes:  4.872214200997315
2020 DEC Export  92103.4 MoM changes:  8.91136408517239 Annual changes:  9.563924893109265
2021 JAN Export  86945.82742282844 MoM changes:  -5.59976350185938 Annual changes:  5.87460902291368
2021 FEB Export  99204.76194587 MoM changes:  14.099508724466823 Annual changes:  15.103873697157534
2021 MAR Export  102410.73392992998 MoM changes:  3.2316714653367904 Annual changes:  23.865109634554774
2021 APR Export  105665.20451920865 MoM changes:  3.177860820239215 Annual changes:  38.538518620674154
2021 MAY Export  92906.18562730218 MoM changes:  -12.074948371095077 Annual changes:  32.09106630090798
2021 JUN Export  114568.63663506132 MoM changes:  23.31647872689462 Annual changes:  21.607690692799412
2021 JUL Export  93269.9535991873 MoM changes:  -18.59032599272113 Annual changes:  4.541820206528126
2021 AUG Export  97688.79519458752 MoM changes:  4.737690354591031 Annual changes:  17.50773480266561
2021 SEP Export  111794.37169803707 MoM changes:  14.439298258671803 Annual changes:  19.871815871055283
2021 OCT Export  104290.91113450356 MoM changes:  -6.71184107890581 Annual changes:  20.1795256226704
2021 NOV Export  112366.24196284614 MoM changes:  7.743082058155433 Annual changes:  24.739585018815387
2021 DEC Export  119040.71984736493 MoM changes:  5.93993157368893 Annual changes:  22.62866007690831

In [16]:
latest_year = df2['YEAR'].dropna().astype(int).iloc[-1]
latest_year

2021

In [17]:
df2['MONTH'].iloc[-1]

'DEC'

In [18]:
from datetime import date, datetime

latest_month = df2['MONTH'].iloc[-1]
latest_month = datetime.strptime(latest_month, '%b').month
latest_month

12

In [19]:
df2.tail()

,YEAR,MONTH,ORIGINAL DATA,% CHANGE M-O-M,SEASONALLY ADJUSTED,% CHANGE M-O-M.1
56,NaN,AUG,95586.532322,-1.781878,97688.795195,4.737690
57,NaN,SEP,110830.704214,15.948033,111794.371698,14.439298
58,NaN,OCT,114430.073515,3.247628,104290.911135,-6.711841
59,NaN,NOV,112203.310912,-1.945959,112366.241963,7.743082
60,NaN,DEC,123848.774522,10.378895,119040.719847,5.939932

In [20]:
#df2['% CHANGE M-O-M'].iloc[-1]

In [21]:
df3= df.parse('Table 3', header = 6)
df3.head(10)

,YEAR,MONTH,ORIGINAL DATA,% CHANGE M-O-M,SEASONALLY ADJUSTED,% CHANGE M-O-M.1
0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017.0,JAN,65439.555215,-2.082157,65323.123633,0.347084
2,NaN,FEB,63058.521239,-3.638524,72203.247172,10.532447
3,NaN,MAR,77240.296485,22.489863,77232.599983,6.965549
4,NaN,APR,65210.734893,-15.574204,67426.277208,-12.697129
5,NaN,MAY,72973.424563,11.904006,69785.198993,3.498520
6,NaN,JUN,62627.394536,-14.177805,65959.082319,-5.482705
7,NaN,JUL,70589.577401,12.713578,68160.329086,3.337291
8,NaN,AUG,72113.002987,2.158145,70460.465539,3.374597
9,NaN,SEP,69650.394535,-3.414930,69440.852760,-1.447071

In [22]:
print('Import')
year = 2017
for i in range(1, 13):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5])

year +=1
for i in range(13, 25):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])    
    
year +=1
for i in range(25, 37):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])  
    
year +=1
for i in range(37, 49):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])  
    
year +=1
for i in range(49, 61):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])

Import
2017 JAN Import:  65323.123632617695 MoM changes:  0.3470843908323304
2017 FEB Import:  72203.24717181092 MoM changes:  10.532447250819738
2017 MAR Import:  77232.59998289177 MoM changes:  6.965549345880914
2017 APR Import:  67426.27720847588 MoM changes:  -12.697128902287568
2017 MAY Import:  69785.1989930224 MoM changes:  3.498519986878331
2017 JUN Import:  65959.0823187345 MoM changes:  -5.482705114404648
2017 JUL Import:  68160.32908645512 MoM changes:  3.337291378742249
2017 AUG Import:  70460.46553915711 MoM changes:  3.374597047183382
2017 SEP Import:  69440.85276014927 MoM changes:  -1.4470707384713704
2017 OCT Import:  68120.2633377663 MoM changes:  -1.901747127075645
2017 NOV Import:  72800.12712320982 MoM changes:  6.870002486982425
2017 DEC Import:  70220.99104919018 MoM changes:  -3.5427631460788622
2018 JAN Import:  72018.39661990174 MoM changes:  2.559641417553435 Annual changes:  9.296614894969574
2018 FEB Import:  70472.53389683073 MoM changes:  -2.146483114904316 Annual changes:  -2.4558692291579645
2018 MAR Import:  70394.20288811756 MoM changes:  -0.1111511171541559 Annual changes:  -9.714432175108152
2018 APR Import:  72538.40139793708 MoM changes:  3.0459873424910278 Annual changes:  7.047472912198182
2018 MAY Import:  72928.52020209628 MoM changes:  0.5378100380501223 Annual changes:  4.310139847021782
2018 JUN Import:  77900.69011790535 MoM changes:  6.81786755309229 Annual changes:  15.32927087179437
2018 JUL Import:  74093.78277141677 MoM changes:  -4.886872427865149 Annual changes:  8.00803179838538
2018 AUG Import:  78981.27152500993 MoM changes:  6.596354742301826 Annual changes:  10.788387957459822
2018 SEP Import:  67266.6676313466 MoM changes:  -14.832128766063004 Annual changes:  -3.2321879548400365
2018 OCT Import:  76664.11880649062 MoM changes:  13.970442577364656 Annual changes:  11.144529672727378
2018 NOV Import:  75705.74497979968 MoM changes:  -1.2500943617574016 Annual changes:  3.838041429174438
2018 DEC Import:  70790.42651994973 MoM changes:  -6.492662427615617 Annual changes:  0.8043961574367314
2019 JAN Import:  73298.35981866597 MoM changes:  3.5427577174004785 Annual changes:  1.7462371626469444
2019 FEB Import:  63596.30727504341 MoM changes:  -13.236384235096976 Annual changes:  -10.812304859225229
2019 MAR Import:  69978.59646152954 MoM changes:  10.03562857648919 Annual changes:  -0.5939050618377361
2019 APR Import:  75668.50979172815 MoM changes:  8.130933768193854 Annual changes:  4.1366063669107005
2019 MAY Import:  73857.00331704624 MoM changes:  -2.3940031060053197 Annual changes:  1.2571361864822255
2019 JUN Import:  70641.01616160963 MoM changes:  -4.354342866622046 Annual changes:  -10.276853803585352
2019 JUL Import:  69835.52446698342 MoM changes:  -1.1402606281645755 Annual changes:  -6.097553268102895
2019 AUG Import:  69115.05801528013 MoM changes:  -1.0316618328597416 Annual changes:  -14.275056395884896
2019 SEP Import:  68970.07477271168 MoM changes:  -0.2097708469497201 Annual changes:  2.4697771417221115
2019 OCT Import:  70091.96551179317 MoM changes:  1.6266340768494667 Annual changes:  -9.376471677901035
2019 NOV Import:  72519.70210759027 MoM changes:  3.4636446247018595 Annual changes:  -4.393347986292873
2019 DEC Import:  70880.05127934208 MoM changes:  -2.2609729226626007 Annual changes:  0.1264456751577834
2020 JAN Import:  71914.2490090289 MoM changes:  1.4590815201459144 Annual changes:  -1.9246683775607285
2020 FEB Import:  70243.60813236816 MoM changes:  -2.323101332047559 Annual changes:  9.463211008179522
2020 MAR Import:  68881.73630081395 MoM changes:  -1.9387839943925913 Annual changes:  -1.5923816959628903
2020 APR Import:  67655.82661489023 MoM changes:  -1.779731104004171 Annual changes:  -11.84330098048706
2020 MAY Import:  52704.97497655157 MoM changes:  -22.09839475237179 Annual changes:  -40.13288754980948
2020 JUN Import:  65288.23091722914 MoM changes:  23.874892163929225 Annual changes:  -8.19869855436368
2020 JUL Import:  65401.30165720987 MoM changes:  0.1731870176174282 Annual changes:  -6.780022258600901
2020 AUG Import:  64593.039194619734 MoM changes:  -1.235850727905251 Annual changes:  -7.0007834854085225
2020 SEP Import:  66460.85560906086 MoM changes:  2.891668262912 Annual changes:  -3.7754842917019715
2020 OCT Import:  66136.37610585756 MoM changes:  -0.48822649096179 Annual changes:  -5.9809587988375865
2020 NOV Import:  65623.5503827181 MoM changes:  -0.775406445491723 Annual changes:  -10.508653805918241
2020 DEC Import:  72670.85720633813 MoM changes:  10.738990472962792 Annual changes:  2.464269716691689
2021 JAN Import:  72224.19607540601 MoM changes:  -0.6146358362938915 Annual changes:  0.42914574785090653
2021 FEB Import:  79097.95775770095 MoM changes:  9.517256066261162 Annual changes:  11.194157063392366
2021 MAR Import:  82183.80360597707 MoM changes:  3.9012964882467944 Annual changes:  16.185752814433723
2021 APR Import:  86259.47727613148 MoM changes:  4.9592176211445125 Annual changes:  21.56708021970473
2021 MAY Import:  77070.83109033473 MoM changes:  -10.65233233025782 Annual changes:  31.614886941109972
2021 JUN Import:  87830.96642852621 MoM changes:  13.961358903188062 Annual changes:  25.666045163742524
2021 JUL Import:  81026.7845710795 MoM changes:  -7.746905373042575 Annual changes:  19.28434282143136
2021 AUG Import:  72613.35082645841 MoM changes:  -10.3835216825623 Annual changes:  11.045230030778695
2021 SEP Import:  84045.28594179459 MoM changes:  15.74357192612943 Annual changes:  20.922565894905507
2021 OCT Import:  84555.74017960796 MoM changes:  0.6073561795802462 Annual changes:  21.783694441826366
2021 NOV Import:  90406.5044804622 MoM changes:  6.9194170477680315 Annual changes:  27.412799820282803
2021 DEC Import:  89718.93867922705 MoM changes:  -0.7605269169363128 Annual changes:  19.001653077775572

In [23]:
print('Total trade')

year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')

year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')

Total trade
2017 JAN Total trade:  135627.5236326177 MoM changes:
2017 FEB Total trade:  152851.4471718109 MoM changes:
2017 MAR Total trade:  156253.49998289178 MoM changes:
2017 APR Total trade:  142445.8772084759 MoM changes:
2017 MAY Total trade:  150059.19899302238 MoM changes:
2017 JUN Total trade:  142924.4823187345 MoM changes:
2017 JUL Total trade:  146942.42908645514 MoM changes:
2017 AUG Total trade:  151480.56553915713 MoM changes:
2017 SEP Total trade:  147108.55276014926 MoM changes:
2017 OCT Total trade:  145416.5633377663 MoM changes:
2017 NOV Total trade:  154148.12712320982 MoM changes:
2017 DEC Total trade:  147396.2910491902 MoM changes:
2018 JAN Total trade:  154105.19661990175 MoM changes:
2018 FEB Total trade:  150009.4338968307 MoM changes:
2018 MAR Total trade:  152023.00288811757 MoM changes:
2018 APR Total trade:  158081.50139793707 MoM changes:
2018 MAY Total trade:  156782.6202020963 MoM changes:
2018 JUN Total trade:  162456.19011790535 MoM changes:
2018 JUL Total trade:  158961.58277141675 MoM changes:
2018 AUG Total trade:  161104.47152500993 MoM changes:
2018 SEP Total trade:  150857.66763134662 MoM changes:
2018 OCT Total trade:  166487.9188064906 MoM changes:
2018 NOV Total trade:  159989.04497979968 MoM changes:
2018 DEC Total trade:  152137.62651994973 MoM changes:
2019 JAN Total trade:  157796.85981866595 MoM changes:
2019 FEB Total trade:  139935.70727504342 MoM changes:
2019 MAR Total trade:  152986.89646152954 MoM changes:
2019 APR Total trade:  162400.70979172815 MoM changes:
2019 MAY Total trade:  159240.30331704626 MoM changes:
2019 JUN Total trade:  153555.51616160962 MoM changes:
2019 JUL Total trade:  156824.12446698343 MoM changes:
2019 AUG Total trade:  151548.45801528014 MoM changes:
2019 SEP Total trade:  147639.57477271167 MoM changes:
2019 OCT Total trade:  153689.16551179317 MoM changes:
2019 NOV Total trade:  152966.70210759027 MoM changes:
2019 DEC Total trade:  154174.75127934208 MoM changes:
2020 JAN Total trade:  153752.34900902893 MoM changes:
2020 FEB Total trade:  154464.60813236816 MoM changes:
2020 MAR Total trade:  146852.03630081395 MoM changes:
2020 APR Total trade:  132599.22661489024 MoM changes:
2020 MAY Total trade:  115796.57497655158 MoM changes:
2020 JUN Total trade:  155101.23091722914 MoM changes:
2020 JUL Total trade:  154435.10165720986 MoM changes:
2020 AUG Total trade:  145178.73919461973 MoM changes:
2020 SEP Total trade:  156039.65560906086 MoM changes:
2020 OCT Total trade:  149381.87610585755 MoM changes:
2020 NOV Total trade:  150190.85038271808 MoM changes:
2020 DEC Total trade:  164774.2572063381 MoM changes:
2021 JAN Total trade:  159170.02349823446 MoM changes:
2021 FEB Total trade:  178302.71970357094 MoM changes:
2021 MAR Total trade:  184594.53753590706 MoM changes:
2021 APR Total trade:  191924.68179534015 MoM changes:
2021 MAY Total trade:  169977.0167176369 MoM changes:
2021 JUN Total trade:  202399.60306358754 MoM changes:
2021 JUL Total trade:  174296.7381702668 MoM changes:
2021 AUG Total trade:  170302.14602104592 MoM changes:
2021 SEP Total trade:  195839.65763983165 MoM changes:
2021 OCT Total trade:  188846.65131411154 MoM changes:
2021 NOV Total trade:  202772.74644330834 MoM changes:
2021 DEC Total trade:  208759.658526592 MoM changes:

In [24]:
print('Balance of trade')

year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')

Balance of trade
2017 JAN Balance of trade:  4981.276367382299 MoM changes:
2017 FEB Balance of trade:  8444.952828189082 MoM changes:
2017 MAR Balance of trade:  1788.300017108224 MoM changes:
2017 APR Balance of trade:  7593.32279152413 MoM changes:
2017 MAY Balance of trade:  10488.801006977606 MoM changes:
2017 JUN Balance of trade:  11006.3176812655 MoM changes:
2017 JUL Balance of trade:  10621.770913544882 MoM changes:
2017 AUG Balance of trade:  10559.634460842892 MoM changes:
2017 SEP Balance of trade:  8226.84723985073 MoM changes:
2017 OCT Balance of trade:  9176.036662233702 MoM changes:
2017 NOV Balance of trade:  8547.872876790178 MoM changes:
2017 DEC Balance of trade:  6954.30895080982 MoM changes:
2018 JAN Balance of trade:  10068.403380098258 MoM changes:
2018 FEB Balance of trade:  9064.36610316926 MoM changes:
2018 MAR Balance of trade:  11234.597111882438 MoM changes:
2018 APR Balance of trade:  13004.698602062927 MoM changes:
2018 MAY Balance of trade:  10925.57979790373 MoM changes:
2018 JUN Balance of trade:  6654.809882094647 MoM changes:
2018 JUL Balance of trade:  10774.017228583238 MoM changes:
2018 AUG Balance of trade:  3141.928474990069 MoM changes:
2018 SEP Balance of trade:  16324.332368653399 MoM changes:
2018 OCT Balance of trade:  13159.681193509387 MoM changes:
2018 NOV Balance of trade:  8577.555020200321 MoM changes:
2018 DEC Balance of trade:  10556.773480050266 MoM changes:
2019 JAN Balance of trade:  11200.140181334034 MoM changes:
2019 FEB Balance of trade:  12743.092724956587 MoM changes:
2019 MAR Balance of trade:  13029.703538470465 MoM changes:
2019 APR Balance of trade:  11063.690208271844 MoM changes:
2019 MAY Balance of trade:  11526.296682953762 MoM changes:
2019 JUN Balance of trade:  12273.48383839037 MoM changes:
2019 JUL Balance of trade:  17153.075533016585 MoM changes:
2019 AUG Balance of trade:  13318.341984719867 MoM changes:
2019 SEP Balance of trade:  9699.425227288317 MoM changes:
2019 OCT Balance of trade:  13505.234488206828 MoM changes:
2019 NOV Balance of trade:  7927.297892409726 MoM changes:
2019 DEC Balance of trade:  12414.648720657919 MoM changes:
2020 JAN Balance of trade:  9923.8509909711 MoM changes:
2020 FEB Balance of trade:  13977.391867631843 MoM changes:
2020 MAR Balance of trade:  9088.563699186052 MoM changes:
2020 APR Balance of trade:  -2712.4266148902316 MoM changes:
2020 MAY Balance of trade:  10386.625023448425 MoM changes:
2020 JUN Balance of trade:  24524.769082770857 MoM changes:
2020 JUL Balance of trade:  23632.49834279013 MoM changes:
2020 AUG Balance of trade:  15992.660805380263 MoM changes:
2020 SEP Balance of trade:  23117.94439093914 MoM changes:
2020 OCT Balance of trade:  17109.123894142438 MoM changes:
2020 NOV Balance of trade:  18943.74961728191 MoM changes:
2020 DEC Balance of trade:  19432.542793661865 MoM changes:
2021 JAN Balance of trade:  14721.63134742243 MoM changes:
2021 FEB Balance of trade:  20106.80418816906 MoM changes:
2021 MAR Balance of trade:  20226.93032395291 MoM changes:
2021 APR Balance of trade:  19405.72724307717 MoM changes:
2021 MAY Balance of trade:  15835.354536967454 MoM changes:
2021 JUN Balance of trade:  26737.670206535113 MoM changes:
2021 JUL Balance of trade:  12243.169028107804 MoM changes:
2021 AUG Balance of trade:  25075.444368129116 MoM changes:
2021 SEP Balance of trade:  27749.08575624248 MoM changes:
2021 OCT Balance of trade:  19735.1709548956 MoM changes:
2021 NOV Balance of trade:  21959.737482383935 MoM changes:
2021 DEC Balance of trade:  29321.78116813788 MoM changes:

In [25]:
#df3['% CHANGE M-O-M'].iloc[-1]

In [26]:
"""
trade = []

print('Export value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['EXPORTS'].iloc[-1],'million')
trade.append(df1['EXPORTS'].iloc[-1])

print('Import value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['IMPORTS'].iloc[-1],'million')
trade.append(df1['IMPORTS'].iloc[-1])

print('Total trade figure for the month of',df1['PERIOD'].iloc[-1],'RM', df1['TOTAL TRADE'].iloc[-1],'million')
trade.append(df1['TOTAL TRADE'].iloc[-1])

print('Latest month-on-month export changes for the month of',df2['MONTH'].iloc[-1], df2['% CHANGE M-O-M'].iloc[-1],'%')
trade.append(df2['% CHANGE M-O-M'].iloc[-1])

print('Latest month-on-month import changes for the month of',df3['MONTH'].iloc[-1], df3['% CHANGE M-O-M'].iloc[-1],'%')
trade.append(df3['% CHANGE M-O-M'].iloc[-1])

"""

"\ntrade = []\n\nprint('Export value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['EXPORTS'].iloc[-1],'million')\ntrade.append(df1['EXPORTS'].iloc[-1])\n\nprint('Import value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['IMPORTS'].iloc[-1],'million')\ntrade.append(df1['IMPORTS'].iloc[-1])\n\nprint('Total trade figure for the month of',df1['PERIOD'].iloc[-1],'RM', df1['TOTAL TRADE'].iloc[-1],'million')\ntrade.append(df1['TOTAL TRADE'].iloc[-1])\n\nprint('Latest month-on-month export changes for the month of',df2['MONTH'].iloc[-1], df2['% CHANGE M-O-M'].iloc[-1],'%')\ntrade.append(df2['% CHANGE M-O-M'].iloc[-1])\n\nprint('Latest month-on-month import changes for the month of',df3['MONTH'].iloc[-1], df3['% CHANGE M-O-M'].iloc[-1],'%')\ntrade.append(df3['% CHANGE M-O-M'].iloc[-1])\n\n"

In [27]:
#print('Export value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['EXPORTS'].iloc[-1],'million')
#trade.append(df1['EXPORTS'].iloc[-1])

In [28]:
#print('Import value for the month of',df1['PERIOD'].iloc[-1],'RM', df1['IMPORTS'].iloc[-1],'million')
#trade.append(df1['IMPORTS'].iloc[-1])

In [29]:
#print('Total trade figure for the month of',df1['PERIOD'].iloc[-1],'RM', df1['TOTAL TRADE'].iloc[-1],'million')
#trade.append(df1['TOTAL TRADE'].iloc[-1])

In [30]:
#print('Latest month-on-month export changes for the month of',df2['MONTH'].iloc[-1], df2['% CHANGE M-O-M'].iloc[-1],'%')
#trade.append(df2['% CHANGE M-O-M'].iloc[-1])

In [31]:
#print('Latest month-on-month import changes for the month of',df3['MONTH'].iloc[-1], df3['% CHANGE M-O-M'].iloc[-1],'%')
#trade.append(df3['% CHANGE M-O-M'].iloc[-1])

In [32]:
"""
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_trade.iterrows():
cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
               5, 1, 1, int(latest_year), latest_month, trade[0], 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
               5, 2, 1, int(latest_year), latest_month, trade[1], 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
               5, 3, 1, int(latest_year), latest_month, trade[2], 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
               5, 4, 1, int(latest_year), latest_month, trade[3], 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
               5, 5, 1, int(latest_year), latest_month, trade[4], 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cnxn.commit()
cursor.close()
"""

'\nimport pyodbc\nimport os, time\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_trade.iterrows():\ncursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n               5, 1, 1, int(latest_year), latest_month, trade[0], 0, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n               5, 2, 1, int(latest_year), latest_month, trade[1], 0, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n               5, 3, 1, int(latest_year), latest_month, trade[2], 0, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n               5, 4, 1, int(latest_year), latest_month, trade[3], 1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n               5, 5, 1, int(latest_year), latest_month, trade[4], 1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\ncnxn.commit()\ncursor.close()\n'

In [43]:
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_trade.iterrows():

print('Export')
year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Export ', df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Export ', df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')
    
year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Export ', df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')
 
year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Export ', df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')
 
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Export ', df2.iloc[i, 4], 'MoM changes: ', df2.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df2.iloc[i, 4]-df2.iloc[i-12, 4])/df2.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 1, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df2.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')
 

print('Import')
year = 2017
for i in range(1, 13):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5])
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

year +=1
for i in range(13, 25):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])    
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

year +=1
for i in range(25, 37):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])  
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

    
year +=1
for i in range(37, 49):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])  
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

    
    
year +=1
for i in range(49, 61):
    print(year, df3.iloc[i, 1], 'Import: ',df3.iloc[i, 4], 'MoM changes: ',df3.iloc[i, 5], 'Annual changes: ', 100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])  
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(100*(df3.iloc[i, 4]-df3.iloc[i-12, 4])/df3.iloc[i, 4])+', @Is_percentage=1, @Is_M2M=0')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df3.iloc[i, 5])+', @Is_percentage=1, @Is_M2M=1')

print('Total trade')

year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]+df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')

year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]+df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')


year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]+df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')

year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]+df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Total trade: ',df2.iloc[i, 4]+df3.iloc[i, 4], 'MoM changes: ')    
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]+df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
print('Balance of trade')

year = 2017
for i in range(1, 13):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]-df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')

    
year +=1
for i in range(13, 25):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]-df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
year +=1
for i in range(25, 37):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]-df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
year +=1
for i in range(37, 49):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]-df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
year +=1
for i in range(49, 61):
    print(year, df2.iloc[i, 1], 'Balance of trade: ',df2.iloc[i, 4]-df3.iloc[i, 4], 'MoM changes: ')
    cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(year)+',@Month='+str(monthToNum(df3.iloc[i, 1]))+' , @Value_RM_millions='+str(df2.iloc[i, 4]-df3.iloc[i, 4])+', @Is_percentage=0, @Is_M2M=0')
    
    
#cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 2, @Country_ID= 1 ,@Year='+str(latest_year)+',@Month='+str(latest_month)+' , @Value_RM_millions='+str(trade[1])+', @Is_percentage=0')

#cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 3, @Country_ID= 1 ,@Year='+str(latest_year)+',@Month='+str(latest_month)+' , @Value_RM_millions='+str(trade[2])+', @Is_percentage=0')

#cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 4, @Country_ID= 1 ,@Year='+str(latest_year)+',@Month='+str(latest_month)+' , @Value_RM_millions='+str(trade[3])+', @Is_percentage=1')

#cursor.execute('[dbo].[SP_EXTERNALTRADE_I_220117] @Indicator_ID = 5 , @Trade_ID = 5, @Country_ID= 1 ,@Year='+str(latest_year)+',@Month='+str(latest_month)+' , @Value_RM_millions='+str(trade[4])+', @Is_percentage=1')



#cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
 #              5, 2, 1, int(latest_year), latest_month, trade[1], 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
#cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
#               5, 3, 1, int(latest_year), latest_month, trade[2], 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
#cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
#               5, 4, 1, int(latest_year), latest_month, trade[3], 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
#cursor.execute("INSERT INTO Economy.ExternalTrade (Indicator_ID, Trade_ID, Country_ID, Year, Month, Value_RM_millions, Is_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
#               5, 5, 1, int(latest_year), latest_month, trade[4], 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cnxn.commit()
cursor.close()

Export
2017 JAN Export  70304.4 MoM changes:  -3.488474252391375
2017 FEB Export  80648.2 MoM changes:  14.71287714566941
2017 MAR Export  79020.9 MoM changes:  -2.0177759702014466
2017 APR Export  75019.6 MoM changes:  -5.063597098995315
2017 MAY Export  80274.0 MoM changes:  7.004036278519206
2017 JUN Export  76965.4 MoM changes:  -4.121633405585875
2017 JUL Export  78782.1 MoM changes:  2.3604113017018187
2017 AUG Export  81020.1 MoM changes:  2.8407468193917143
2017 SEP Export  77667.7 MoM changes:  -4.137738659912798
2017 OCT Export  77296.3 MoM changes:  -0.4781910626940082
2017 NOV Export  81348.0 MoM changes:  5.241777420135242
2017 DEC Export  77175.3 MoM changes:  -5.129443870777397
2018 JAN Export  82086.8 MoM changes:  6.364082808877971
2018 FEB Export  79536.9 MoM changes:  -3.106345965490199
2018 MAR Export  81628.8 MoM changes:  2.6300999913247924
2018 APR Export  85543.1 MoM changes:  4.79524383550904
2018 MAY Export  83854.1 MoM changes:  -1.9744432923286623
2018 JUN Export  84555.5 MoM changes:  0.8364528389190202
2018 JUL Export  84867.8 MoM changes:  0.36934321244626656
2018 AUG Export  82123.2 MoM changes:  -3.2339709524696123
2018 SEP Export  83591.0 MoM changes:  1.7873146686928945
2018 OCT Export  89823.8 MoM changes:  7.456305104616528
2018 NOV Export  84283.3 MoM changes:  -6.168187050648046
2018 DEC Export  81347.2 MoM changes:  -3.4836082592874336
2019 JAN Export  84498.5 MoM changes:  3.8738887140553127
2019 FEB Export  76339.4 MoM changes:  -9.655911051675481
2019 MAR Export  83008.3 MoM changes:  8.735855927607512
2019 APR Export  86732.2 MoM changes:  4.486177888235265
2019 MAY Export  85383.3 MoM changes:  -1.5552470708687134
2019 JUN Export  82914.5 MoM changes:  -2.891431931068491
2019 JUL Export  86988.6 MoM changes:  4.913615833177557
2019 AUG Export  82433.4 MoM changes:  -5.236548237355253
2019 SEP Export  78669.5 MoM changes:  -4.565989028718935
2019 OCT Export  83597.2 MoM changes:  6.263799820769164
2019 NOV Export  80447.0 MoM changes:  -3.7683080294555285
2019 DEC Export  83294.7 MoM changes:  3.539846109861147
2020 JAN Export  81838.1 MoM changes:  -1.7487307115578679
2020 FEB Export  84221.0 MoM changes:  2.911724490182438
2020 MAR Export  77970.3 MoM changes:  -7.421783165718761
2020 APR Export  64943.4 MoM changes:  -16.707515553999407
2020 MAY Export  63091.6 MoM changes:  -2.8514059935266753
2020 JUN Export  89813.0 MoM changes:  42.35334022278719
2020 JUL Export  89033.8 MoM changes:  -0.8675804170888368
2020 AUG Export  80585.7 MoM changes:  -9.488643638708002
2020 SEP Export  89578.8 MoM changes:  11.15967224954304
2020 OCT Export  83245.5 MoM changes:  -7.070088011895674
2020 NOV Export  84567.3 MoM changes:  1.5878335765897291
2020 DEC Export  92103.4 MoM changes:  8.91136408517239
2021 JAN Export  86945.82742282844 MoM changes:  -5.59976350185938
2021 FEB Export  99204.76194587 MoM changes:  14.099508724466823
2021 MAR Export  102410.73392992998 MoM changes:  3.2316714653367904
2021 APR Export  105665.20451920865 MoM changes:  3.177860820239215
2021 MAY Export  92906.18562730218 MoM changes:  -12.074948371095077
2021 JUN Export  114568.63663506132 MoM changes:  23.31647872689462
2021 JUL Export  93269.9535991873 MoM changes:  -18.59032599272113
2021 AUG Export  97688.79519458752 MoM changes:  4.737690354591031
2021 SEP Export  111794.37169803707 MoM changes:  14.439298258671803
2021 OCT Export  104290.91113450356 MoM changes:  -6.71184107890581
2021 NOV Export  112366.24196284614 MoM changes:  7.743082058155433
2021 DEC Export  119040.71984736493 MoM changes:  5.93993157368893
Import
2017 JAN Import:  65323.123632617695 MoM changes:  0.3470843908323304
2017 FEB Import:  72203.24717181092 MoM changes:  10.532447250819738
2017 MAR Import:  77232.59998289177 MoM changes:  6.965549345880914
2017 APR Import:  67426.27720847588 MoM changes:  -12.697128902287568
2017 MAY Import:  69785.1989930224 MoM changes:  3.498519986878331
2017 JUN Import:  65959.0823187345 MoM changes:  -5.482705114404648
2017 JUL Import:  68160.32908645512 MoM changes:  3.337291378742249
2017 AUG Import:  70460.46553915711 MoM changes:  3.374597047183382
2017 SEP Import:  69440.85276014927 MoM changes:  -1.4470707384713704
2017 OCT Import:  68120.2633377663 MoM changes:  -1.901747127075645
2017 NOV Import:  72800.12712320982 MoM changes:  6.870002486982425
2017 DEC Import:  70220.99104919018 MoM changes:  -3.5427631460788622
2018 JAN Import:  72018.39661990174 MoM changes:  2.559641417553435 Annual changes:  9.296614894969574
2018 FEB Import:  70472.53389683073 MoM changes:  -2.146483114904316 Annual changes:  -2.4558692291579645
2018 MAR Import:  70394.20288811756 MoM changes:  -0.1111511171541559 Annual changes:  -9.714432175108152
2018 APR Import:  72538.40139793708 MoM changes:  3.0459873424910278 Annual changes:  7.047472912198182
2018 MAY Import:  72928.52020209628 MoM changes:  0.5378100380501223 Annual changes:  4.310139847021782
2018 JUN Import:  77900.69011790535 MoM changes:  6.81786755309229 Annual changes:  15.32927087179437
2018 JUL Import:  74093.78277141677 MoM changes:  -4.886872427865149 Annual changes:  8.00803179838538
2018 AUG Import:  78981.27152500993 MoM changes:  6.596354742301826 Annual changes:  10.788387957459822
2018 SEP Import:  67266.6676313466 MoM changes:  -14.832128766063004 Annual changes:  -3.2321879548400365
2018 OCT Import:  76664.11880649062 MoM changes:  13.970442577364656 Annual changes:  11.144529672727378
2018 NOV Import:  75705.74497979968 MoM changes:  -1.2500943617574016 Annual changes:  3.838041429174438
2018 DEC Import:  70790.42651994973 MoM changes:  -6.492662427615617 Annual changes:  0.8043961574367314
2019 JAN Import:  73298.35981866597 MoM changes:  3.5427577174004785 Annual changes:  1.7462371626469444
2019 FEB Import:  63596.30727504341 MoM changes:  -13.236384235096976 Annual changes:  -10.812304859225229
2019 MAR Import:  69978.59646152954 MoM changes:  10.03562857648919 Annual changes:  -0.5939050618377361
2019 APR Import:  75668.50979172815 MoM changes:  8.130933768193854 Annual changes:  4.1366063669107005
2019 MAY Import:  73857.00331704624 MoM changes:  -2.3940031060053197 Annual changes:  1.2571361864822255
2019 JUN Import:  70641.01616160963 MoM changes:  -4.354342866622046 Annual changes:  -10.276853803585352
2019 JUL Import:  69835.52446698342 MoM changes:  -1.1402606281645755 Annual changes:  -6.097553268102895
2019 AUG Import:  69115.05801528013 MoM changes:  -1.0316618328597416 Annual changes:  -14.275056395884896
2019 SEP Import:  68970.07477271168 MoM changes:  -0.2097708469497201 Annual changes:  2.4697771417221115
2019 OCT Import:  70091.96551179317 MoM changes:  1.6266340768494667 Annual changes:  -9.376471677901035
2019 NOV Import:  72519.70210759027 MoM changes:  3.4636446247018595 Annual changes:  -4.393347986292873
2019 DEC Import:  70880.05127934208 MoM changes:  -2.2609729226626007 Annual changes:  0.1264456751577834
2020 JAN Import:  71914.2490090289 MoM changes:  1.4590815201459144 Annual changes:  -1.9246683775607285
2020 FEB Import:  70243.60813236816 MoM changes:  -2.323101332047559 Annual changes:  9.463211008179522
2020 MAR Import:  68881.73630081395 MoM changes:  -1.9387839943925913 Annual changes:  -1.5923816959628903
2020 APR Import:  67655.82661489023 MoM changes:  -1.779731104004171 Annual changes:  -11.84330098048706
2020 MAY Import:  52704.97497655157 MoM changes:  -22.09839475237179 Annual changes:  -40.13288754980948
2020 JUN Import:  65288.23091722914 MoM changes:  23.874892163929225 Annual changes:  -8.19869855436368
2020 JUL Import:  65401.30165720987 MoM changes:  0.1731870176174282 Annual changes:  -6.780022258600901
2020 AUG Import:  64593.039194619734 MoM changes:  -1.235850727905251 Annual changes:  -7.0007834854085225
2020 SEP Import:  66460.85560906086 MoM changes:  2.891668262912 Annual changes:  -3.7754842917019715
2020 OCT Import:  66136.37610585756 MoM changes:  -0.48822649096179 Annual changes:  -5.9809587988375865
2020 NOV Import:  65623.5503827181 MoM changes:  -0.775406445491723 Annual changes:  -10.508653805918241
2020 DEC Import:  72670.85720633813 MoM changes:  10.738990472962792 Annual changes:  2.464269716691689
2021 JAN Import:  72224.19607540601 MoM changes:  -0.6146358362938915 Annual changes:  0.42914574785090653
2021 FEB Import:  79097.95775770095 MoM changes:  9.517256066261162 Annual changes:  11.194157063392366
2021 MAR Import:  82183.80360597707 MoM changes:  3.9012964882467944 Annual changes:  16.185752814433723
2021 APR Import:  86259.47727613148 MoM changes:  4.9592176211445125 Annual changes:  21.56708021970473
2021 MAY Import:  77070.83109033473 MoM changes:  -10.65233233025782 Annual changes:  31.614886941109972
2021 JUN Import:  87830.96642852621 MoM changes:  13.961358903188062 Annual changes:  25.666045163742524
2021 JUL Import:  81026.7845710795 MoM changes:  -7.746905373042575 Annual changes:  19.28434282143136
2021 AUG Import:  72613.35082645841 MoM changes:  -10.3835216825623 Annual changes:  11.045230030778695
2021 SEP Import:  84045.28594179459 MoM changes:  15.74357192612943 Annual changes:  20.922565894905507
2021 OCT Import:  84555.74017960796 MoM changes:  0.6073561795802462 Annual changes:  21.783694441826366
2021 NOV Import:  90406.5044804622 MoM changes:  6.9194170477680315 Annual changes:  27.412799820282803
2021 DEC Import:  89718.93867922705 MoM changes:  -0.7605269169363128 Annual changes:  19.001653077775572
Total trade
2017 JAN Total trade:  135627.5236326177 MoM changes:

2017 FEB Total trade:  152851.4471718109 MoM changes:
2017 MAR Total trade:  156253.49998289178 MoM changes:
2017 APR Total trade:  142445.8772084759 MoM changes:
2017 MAY Total trade:  150059.19899302238 MoM changes:
2017 JUN Total trade:  142924.4823187345 MoM changes:
2017 JUL Total trade:  146942.42908645514 MoM changes:
2017 AUG Total trade:  151480.56553915713 MoM changes:
2017 SEP Total trade:  147108.55276014926 MoM changes:
2017 OCT Total trade:  145416.5633377663 MoM changes:
2017 NOV Total trade:  154148.12712320982 MoM changes:
2017 DEC Total trade:  147396.2910491902 MoM changes:
2018 JAN Total trade:  154105.19661990175 MoM changes:
2018 FEB Total trade:  150009.4338968307 MoM changes:
2018 MAR Total trade:  152023.00288811757 MoM changes:
2018 APR Total trade:  158081.50139793707 MoM changes:
2018 MAY Total trade:  156782.6202020963 MoM changes:
2018 JUN Total trade:  162456.19011790535 MoM changes:
2018 JUL Total trade:  158961.58277141675 MoM changes:
2018 AUG Total trade:  161104.47152500993 MoM changes:
2018 SEP Total trade:  150857.66763134662 MoM changes:
2018 OCT Total trade:  166487.9188064906 MoM changes:
2018 NOV Total trade:  159989.04497979968 MoM changes:
2018 DEC Total trade:  152137.62651994973 MoM changes:
2019 JAN Total trade:  157796.85981866595 MoM changes:
2019 FEB Total trade:  139935.70727504342 MoM changes:
2019 MAR Total trade:  152986.89646152954 MoM changes:
2019 APR Total trade:  162400.70979172815 MoM changes:
2019 MAY Total trade:  159240.30331704626 MoM changes:
2019 JUN Total trade:  153555.51616160962 MoM changes:
2019 JUL Total trade:  156824.12446698343 MoM changes:
2019 AUG Total trade:  151548.45801528014 MoM changes:
2019 SEP Total trade:  147639.57477271167 MoM changes:
2019 OCT Total trade:  153689.16551179317 MoM changes:
2019 NOV Total trade:  152966.70210759027 MoM changes:
2019 DEC Total trade:  154174.75127934208 MoM changes:
2020 JAN Total trade:  153752.34900902893 MoM changes:
2020 FEB Total trade:  154464.60813236816 MoM changes:
2020 MAR Total trade:  146852.03630081395 MoM changes:
2020 APR Total trade:  132599.22661489024 MoM changes:
2020 MAY Total trade:  115796.57497655158 MoM changes:
2020 JUN Total trade:  155101.23091722914 MoM changes:
2020 JUL Total trade:  154435.10165720986 MoM changes:
2020 AUG Total trade:  145178.73919461973 MoM changes:
2020 SEP Total trade:  156039.65560906086 MoM changes:
2020 OCT Total trade:  149381.87610585755 MoM changes:
2020 NOV Total trade:  150190.85038271808 MoM changes:
2020 DEC Total trade:  164774.2572063381 MoM changes:
2021 JAN Total trade:  159170.02349823446 MoM changes:
2021 FEB Total trade:  178302.71970357094 MoM changes:
2021 MAR Total trade:  184594.53753590706 MoM changes:
2021 APR Total trade:  191924.68179534015 MoM changes:
2021 MAY Total trade:  169977.0167176369 MoM changes:
2021 JUN Total trade:  202399.60306358754 MoM changes:
2021 JUL Total trade:  174296.7381702668 MoM changes:
2021 AUG Total trade:  170302.14602104592 MoM changes:
2021 SEP Total trade:  195839.65763983165 MoM changes:
2021 OCT Total trade:  188846.65131411154 MoM changes:
2021 NOV Total trade:  202772.74644330834 MoM changes:
2021 DEC Total trade:  208759.658526592 MoM changes:
Balance of trade
2017 JAN Balance of trade:  4981.276367382299 MoM changes:
2017 FEB Balance of trade:  8444.952828189082 MoM changes:
2017 MAR Balance of trade:  1788.300017108224 MoM changes:
2017 APR Balance of trade:  7593.32279152413 MoM changes:
2017 MAY Balance of trade:  10488.801006977606 MoM changes:
2017 JUN Balance of trade:  11006.3176812655 MoM changes:
2017 JUL Balance of trade:  10621.770913544882 MoM changes:
2017 AUG Balance of trade:  10559.634460842892 MoM changes:
2017 SEP Balance of trade:  8226.84723985073 MoM changes:
2017 OCT Balance of trade:  9176.036662233702 MoM changes:
2017 NOV Balance of trade:  8547.872876790178 MoM changes:
2017 DEC Balance of trade:  6954.30895080982 MoM changes:
2018 JAN Balance of trade:  10068.403380098258 MoM changes:
2018 FEB Balance of trade:  9064.36610316926 MoM changes:
2018 MAR Balance of trade:  11234.597111882438 MoM changes:
2018 APR Balance of trade:  13004.698602062927 MoM changes:
2018 MAY Balance of trade:  10925.57979790373 MoM changes:
2018 JUN Balance of trade:  6654.809882094647 MoM changes:
2018 JUL Balance of trade:  10774.017228583238 MoM changes:
2018 AUG Balance of trade:  3141.928474990069 MoM changes:
2018 SEP Balance of trade:  16324.332368653399 MoM changes:
2018 OCT Balance of trade:  13159.681193509387 MoM changes:
2018 NOV Balance of trade:  8577.555020200321 MoM changes:
2018 DEC Balance of trade:  10556.773480050266 MoM changes:
2019 JAN Balance of trade:  11200.140181334034 MoM changes:
2019 FEB Balance of trade:  12743.092724956587 MoM changes:
2019 MAR Balance of trade:  13029.703538470465 MoM changes:
2019 APR Balance of trade:  11063.690208271844 MoM changes:
2019 MAY Balance of trade:  11526.296682953762 MoM changes:
2019 JUN Balance of trade:  12273.48383839037 MoM changes:
2019 JUL Balance of trade:  17153.075533016585 MoM changes:
2019 AUG Balance of trade:  13318.341984719867 MoM changes:
2019 SEP Balance of trade:  9699.425227288317 MoM changes:
2019 OCT Balance of trade:  13505.234488206828 MoM changes:
2019 NOV Balance of trade:  7927.297892409726 MoM changes:
2019 DEC Balance of trade:  12414.648720657919 MoM changes:
2020 JAN Balance of trade:  9923.8509909711 MoM changes:
2020 FEB Balance of trade:  13977.391867631843 MoM changes:
2020 MAR Balance of trade:  9088.563699186052 MoM changes:
2020 APR Balance of trade:  -2712.4266148902316 MoM changes:
2020 MAY Balance of trade:  10386.625023448425 MoM changes:
2020 JUN Balance of trade:  24524.769082770857 MoM changes:
2020 JUL Balance of trade:  23632.49834279013 MoM changes:
2020 AUG Balance of trade:  15992.660805380263 MoM changes:
2020 SEP Balance of trade:  23117.94439093914 MoM changes:
2020 OCT Balance of trade:  17109.123894142438 MoM changes:
2020 NOV Balance of trade:  18943.74961728191 MoM changes:
2020 DEC Balance of trade:  19432.542793661865 MoM changes:
2021 JAN Balance of trade:  14721.63134742243 MoM changes:
2021 FEB Balance of trade:  20106.80418816906 MoM changes:
2021 MAR Balance of trade:  20226.93032395291 MoM changes:
2021 APR Balance of trade:  19405.72724307717 MoM changes:
2021 MAY Balance of trade:  15835.354536967454 MoM changes:
2021 JUN Balance of trade:  26737.670206535113 MoM changes:
2021 JUL Balance of trade:  12243.169028107804 MoM changes:
2021 AUG Balance of trade:  25075.444368129116 MoM changes:
2021 SEP Balance of trade:  27749.08575624248 MoM changes:
2021 OCT Balance of trade:  19735.1709548956 MoM changes:
2021 NOV Balance of trade:  21959.737482383935 MoM changes:
2021 DEC Balance of trade:  29321.78116813788 MoM changes: