In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
def RomanToArab(quarter):
    return {
            'I': 1,
            'II': 2,
            'III': 3,
            'IV': 4
            
    }[quarter]

In [3]:
#from datetime import date

In [4]:
#date.today().year

In [5]:
df = pd.ExcelFile('GDP Q3 2021 Tables.xlsx')

In [6]:
#df = pd.ExcelFile('GDP Q2 2021 Tables.xlsx')

In [7]:
#df.sheet_names

In [8]:
#df.sheet_names[0]

In [9]:
#df.parse('Data Makro').head(50)

In [10]:
df1 = df.parse('Data Makro')
df1.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48
0,NaN,MALAYSIA:,NaN,DATA PENTING EKONOMI MAKRO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,MACRO ECONOMIC KEY DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,2015e,2016.0,2017.0,2018.0,2019e,2020p,2015,NaN,NaN,NaN,NaN,2016,NaN,NaN,NaN,NaN,2017,NaN,NaN,NaN,NaN,2018,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,NaN,2020,NaN,NaN,NaN,NaN,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I,II,III,IV,NaN,I,II,III,IV,NaN,I,II,III,IV,NaN,I,II,III,IV,NaN,I,II,III,IV,NaN,I,II,III,IV,NaN,I,II,III,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,KDNK pada harga malar 2015 (RM bilion),NaN,1177,1229.3,1300.8,1363.8,1424.3,1343.9,282.3,289,298,307.7,NaN,294.3,301,311.5,322.5,NaN,310.7,318.2,330.7,341.1,NaN,327.1,333.4,345.7,357.5,NaN,342.4,350,361.3,370.6,NaN,344.7,289.7,351.6,357.9,NaN,343,336.5,335.8,GDP at constant 2015 prices (RM billion),NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,Pertanian,NaN,98,94.0,99.5,99.6,101.6,99.4,21.7,24,27.7,24.2,NaN,21.2,22.6,26.4,23.7,NaN,22.6,23.6,27.3,26,NaN,23.3,23.3,27.1,26,NaN,24.7,24.3,28.1,24.5,NaN,22.6,24.5,28,24.3,NaN,22.6,24.1,27.5,Agriculture,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,Perlombongan dan pengkuarian,NaN,103,105.4,105.8,103.6,102.9,92,26.9,25.7,24.3,26.2,NaN,26.6,26.3,24.9,27.5,NaN,26.8,26.2,25.5,27.3,NaN,26.2,25.9,24.2,27.3,NaN,26.2,26.6,23.6,26.6,NaN,25.4,21.1,21.7,23.8,NaN,24.1,24,20.9,Mining and quarrying,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Pembuatan,NaN,262,273.9,290.5,304.8,316.3,307.9,62.3,65.7,65.9,68.5,NaN,65.1,68.2,68.6,72,NaN,69,72.2,73.4,75.8,NaN,72.6,75.7,77.1,79.3,NaN,75.6,79,79.9,81.7,NaN,76.7,64.5,82.5,84.2,NaN,81.8,81.7,81.9,Manufacturing,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Pembinaan,NaN,55,59.5,63.5,66.2,66.5,53.6,13.7,12.9,14.3,14.4,NaN,14.8,14.1,15.5,15.1,NaN,15.8,15.3,16.4,16,NaN,16.6,16,17.2,16.4,NaN,16.7,16.2,17,16.6,NaN,15.4,9,14.9,14.3,NaN,13.8,12.6,11.8,Construction,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Perkhidmatan,NaN,644,680.6,723.4,773.0,820.9,775.7,154.5,156.9,162.2,170.3,NaN,162.6,166,172.2,179.8,NaN,172.1,176.6,183.5,191.2,NaN,183.4,188.3,196.9,204.4,NaN,195.2,199.9,208.6,217.1,NaN,201.3,167.5,200.3,206.7,NaN,196.7,190,190.4,Services,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,KDNK pada harga malar 2015 (Perubahan %),NaN,..,4.4,5.8,4.8,4.4,-5.6,..,..,..,..,NaN,4.3,4.2,4.5,4.8,NaN,5.6,5.7,6.1,5.8,NaN,5.3,4.8,4.5,4.8,NaN,4.7,5,4.5,3.7,NaN,0.7,-17.2,-2.7,-3.4,NaN,-0.5,16.1,-4.5,GDP at constant 2015 prices (% change),NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,Pertanian,NaN,..,-3.7,5.9,0.1,2,-2.2,..,..,..,..,NaN,-2.2,-5.8,-4.6,-1.7,NaN,6.6,4.5,3.3,9.4,NaN,3.1,-1.5,-0.7,-0.1,NaN,6.1,4.2,3.7,-5.5,NaN,-8.6,0.9,-0.3,-1,NaN,0.2,-1.5,-1.9,Agriculture,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,Perlombongan dan pengkuarian,NaN,..,2.2,0.4,-2.2,-0.6,-10.6,..,..,..,..,NaN,-1.1,2.3,2.7,5.2,NaN,1,-0.5,2.3,-0.9,NaN,-2.4,-1.3,-5,-0.1,NaN,-0.1,2.9,-2.8,-2.5,NaN,-2.9,-20.8,-7.8,-10.4,NaN,-5,13.9,-3.6,Mining and quarrying,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Pembuatan,NaN,..,4.4,6.0,5.0,3.8,-2.6,..,..,..,..,NaN,4.5,3.8,4.2,5.1,NaN,5.9,6,7,5.3,NaN,5.2,4.9,5,4.7,NaN,4.1,4.3,3.6,3,NaN,1.4,-18.3,3.3,3,NaN,6.6,26.6,-0.8,Manufacturing,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,Pembinaan,NaN,..,7.4,6.7,4.2,0.4,-19.4,..,..,..,..,NaN,8,8.9,8,5,NaN,6.8,8.3,6.2,5.9,NaN,4.9,4.8,4.7,2.5,NaN,0.6,1.1,-1.4,1.3,NaN,-7.9,-44.5,-12.4,-13.9,NaN,-10.4,40.3,-20.6,Construction,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,Perkhidmatan,NaN,..,5.7,6.3,6.9,6.2,-5.5,..,..,..,..,NaN,5.2,5.8,6.2,5.6,NaN,5.9,6.4,6.6,6.3,NaN,6.6,6.6,7.3,6.9,NaN,6.5,6.2,5.9,6.2,NaN,3.1,-16.2,-4,-4.8,NaN,-2.3,13.5,-4.9,Services,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,Permintaan domestik pada harga malar 2015 (RM ...,NaN,1177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices (RM bi...,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,Perbelanjaan penggunaan akhir swasta,NaN,635,672.3,718.7,776.1,835.7,799.4,154.8,154,164.6,161.7,0.0,162.6,163.5,174.8,171.4,NaN,173.3,174.9,187.2,183.3,NaN,184.7,188.8,203.9,198.7,0.0,199,203.5,218.3,214.8,0.0,212.3,165.9,213.8,207.4,209251.1,209.3,185.3,204.7,Private final consumption expenditure,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan,NaN,154,155.6,164.4,170.0,173.1,179.9,32.7,35,35.9,50.4,0.0,33.6,36.9,36.7,48.4,NaN,36.2,38.2,38.3,51.7,NaN,36.4,39.5,40.3,53.9,0.0,38.6,39.5,40.6,54.5,0.0,40.5,40.3,43.3,55.8,0.0,42.9,44,46.8,Government final consumption expenditure,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,Pembentukan modal tetap kasar,NaN,304,312.2,331.1,335.6,328.6,281.1,75,77.6,76.4,75.4,0.0,75,82.3,77.9,77,NaN,82.2,85.5,83,80.4,NaN,82.4,86.9,85.4,80.9,0.0,79.6,86.4,82.2,80.4,0.0,75.9,61.3,72.9,70.9,0.0,73.5,71.5,65,Gross fixed capital formation,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,Permintaan domestik pada harga malar 2015 (Per...,NaN,..,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices (% ch...,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,Perbelanjaan penggunaan akhir swasta,NaN,..,5.9,6.9,8.0,7.7,-4.3,..,..,..,..,NaN,5.1,6.1,6.2,6,NaN,6.6,7,7.1,6.9,NaN,6.6,8,8.9,8.4,NaN,7.7,7.8,7.1,8.2,NaN,6.7,-18.5,-2.1,-3.5,NaN,-1.5,11.7,-4.2,Private final consumption expenditure,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan,NaN,..,1.1,5.7,3.4,1.8,3.9,..,..,..,..,NaN,2.8,5.6,2.3,-4.1,NaN,7.7,3.5,4.2,7,NaN,0.4,3.2,5.2,4.2,NaN,6.1,0,0.7,1,NaN,4.9,2.2,6.8,2.4,NaN,5.9,9,8.1,Government final consumption expenditure,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,Pembentukan modal tetap kasar,NaN,..,2.6,6.1,1.4,-2.1,-14.5,..,..,..,..,NaN,0.1,6.1,1.9,2.1,NaN,9.5,3.9,6.6,4.4,NaN,0.2,1.7,2.8,0.6,NaN,-3.4,-0.6,-3.7,-0.7,NaN,-4.5,-29,-11.4,-11.8,NaN,-3.3,16.5,-10.8,Gross fixed capital formation,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,"Eksport, import dan imbangan perdagangan (RM b...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Exports, imports and balance of trade (RM bill...",NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,Eksport (f.o.b.),NaN,777.4,787.0,934.9,1003.6,995.1,983.8,181,184.8,200,211.6,0.0,185.1,187.8,195.9,218.1,NaN,225.2,226.3,238.6,244.8,0.0,238.7,246.3,251.8,266.8,NaN,239.7,247.6,249.5,258.2,NaN,239.1,210.6,262.3,271.8,NaN,282.2,303.4,303.7,Exports (f.o.b.),NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,Import (c.i.f.),NaN,685.8,698.8,836.4,879.8,849.4,800.5,161.9,165.3,177.7,180.9,0.0,161.2,170,177.5,190.1,NaN,205.7,200.8,212.4,217.5,0.0,204.5,218.2,226.7,230.5,NaN,199.2,215.1,213.7,221.4,NaN,203.1,185.3,200.4,211.7,NaN,223.5,247,242.5,Imports (c.i.f.),NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,Imbangan perdagangan,NaN,91.6,88.1,98.5,123.8,145.7,183.3,19.1,19.5,22.4,30.6,0.0,23.9,17.8,18.4,28,NaN,19.4,25.5,26.3,27.3,0.0,34.1,28.2,25.1,36.3,NaN,40.5,32.5,35.8,36.8,NaN,36,25.3,62,60.1,NaN,58.7,56.4,61.3,Balance of trade,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,Imbangan pembayaran (RM bilion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Balance of payments (RM billion),NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,Imbangan barangan,NaN,109.2,102.0,117.1,114.6,124.7,138.7,138709.4,23.4,27.5,31.3,0.0,23.2,20,27.2,31.6,0.0,25.3,27.4,31.6,32.8,0.0,33.6,24.6,24.8,31.7,0.0,33.8,28.6,29.7,32.7,NaN,28.9,25.8,41.5,42.6,NaN,36.6,40.7,41.2,Balance on goods,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,Imbangan tidak ketara,NaN,-74.1,-72.1,-78.8,-82.3,-71.8,-78.7,-16.2,-15.2,-22.2,-20.5,NaN,-16.9,-16.9,-19.6,-18.8,NaN,-20.3,-17.2,-19.4,-22,NaN,-18.7,-21.2,-21.5,-20.9,NaN,-16.3,-13.9,-16.4,-25.2,NaN,-20,-18.1,-16.6,-23.9,NaN,-24.3,-26.3,-29.6,Balance on invisibles,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,Imbangan akaun semasa,NaN,35.2,29.9,38.3,32.3,52.9,60,60007.4,8.2,5.2,10.8,0.0,6.3,3.1,7.7,12.8,0.0,5.1,10.2,12.2,10.9,0.0,14.9,3.4,3.3,10.7,0.0,17.5,14.8,13.2,7.4,NaN,8.8,7.7,24.8,18.6,NaN,12.3,14.4,11.6,Balance on current account,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,PNK pada harga semasa (RM bilion),NaN,1145,1215.1,1333.7,1402.7,1473.7,1388,273.9,283.7,286.7,300.4,NaN,288.6,295.5,306,325,NaN,318.6,326.5,337.5,351,NaN,338.4,343.2,353.9,367.2,NaN,353.6,366.6,372.9,380.6,NaN,360.4,298.2,357.9,371.5,NaN,364.9,363.1,365.4,GNI at current prices (RM billion),NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,PNK pada harga semasa (Perubahan %),NaN,..,6.1,9.8,5.2,5.1,-5.8,..,..,..,..,NaN,5.3,4.2,6.7,8.2,NaN,10.4,10.5,10.3,8,NaN,6.2,5.1,4.8,4.6,NaN,4.5,6.8,5.4,3.7,NaN,1.9,-18.6,-4,-2.4,NaN,1.3,21.7,2.1,GNI at current prices (% change),NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,PNK pada harga malar 2015 (RM bilion),NaN,1156,1211.3,1281.7,1335.1,1402.5,1330.2,274.2,286.8,291.3,303.5,NaN,291.5,296.7,304.7,318.4,NaN,306.3,314.8,325.3,335.3,NaN,321.7,326.3,336.2,350.8,NaN,337.2,348.8,356.2,360.3,NaN,340.9,289.4,345.5,354.3,NaN,340.8,331.6,329.4,GNI at constant 2015 prices (RM billion),NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,PNK pada harga malar 2015 (Perubahan %),NaN,..,4.8,5.8,4.2,5,-5.2,..,..,..,..,NaN,6.3,3.4,4.6,4.9,NaN,5.1,6.1,6.8,5.3,NaN,5,3.7,3.4,4.6,NaN,4.8,6.9,5.9,2.7,NaN,1.1,-17,-3,-1.7,NaN,0,14.6,-4.7,GNI at constant 2015 prices (% change),NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,Tabungan negara kasar (RM bilion),NaN,334,354.8,388.9,378.3,371.3,339.5,84.1,88.7,79.1,82.5,NaN,85.2,87,85.8,96.7,NaN,94.8,98.6,96,99.5,NaN,97.8,95.6,90.3,94.5,NaN,93.1,100.7,90.2,87.4,NaN,82,76.4,91,90.2,NaN,88.4,112.2,89.2,Gross national savings (RM billion),NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,Tabungan negara kasar (% dari PNK),NaN,29.2,29.2,29.2,27.0,25.2,24.5,30.7,31.3,27.6,27.5,NaN,29.5,29.4,28,29.8,NaN,29.8,30.2,28.4,28.3,NaN,28.9,27.9,25.5,25.7,NaN,26.3,27.5,24.2,23,NaN,22.7,25.6,25.4,24.3,NaN,24.2,30.9,24.4,Gross national savings (% of GNI),NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3,0.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,Indeks Harga Pengguna (2010=100) (Perubahan %),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Price Index (2010=100) (% change),NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,Semua kumpulan,NaN,2.1,2.1,3.7,1.0,0.7,-1.2,0.7,2.2,3,2.6,NaN,3.4,2,1.3,1.6,NaN,4.1,3.8,3.6,3.6,NaN,1.8,1.3,0.5,0.2,NaN,-0.3,0.7,1.3,1,NaN,0.9,-2.6,-1.4,-1.5,NaN,0.5,4.1,2.2,All groups,NaN,NaN,NaN,NaN,NaN

In [11]:
pd.to_numeric(df1.iloc[6], errors = 'coerce').dropna()[-1]

27.5

In [12]:
len(df1.iloc[6].dropna())

35

In [13]:
df1.iloc[6].dropna()

Unnamed: 2          Pertanian
Unnamed: 4                 98
Unnamed: 5               94.0
Unnamed: 6               99.5
Unnamed: 7               99.6
Unnamed: 8              101.6
Unnamed: 9               99.4
Unnamed: 10              21.7
Unnamed: 11                24
Unnamed: 12              27.7
Unnamed: 13              24.2
Unnamed: 15              21.2
Unnamed: 16              22.6
Unnamed: 17              26.4
Unnamed: 18              23.7
Unnamed: 20              22.6
Unnamed: 21              23.6
Unnamed: 22              27.3
Unnamed: 23                26
Unnamed: 25              23.3
Unnamed: 26              23.3
Unnamed: 27              27.1
Unnamed: 28                26
Unnamed: 30              24.7
Unnamed: 31              24.3
Unnamed: 32              28.1
Unnamed: 33              24.5
Unnamed: 35              22.6
Unnamed: 36              24.5
Unnamed: 37                28
Unnamed: 38              24.3
Unnamed: 40              22.6
Unnamed: 41              24.1
Unnamed: 42              27.5
Unnamed: 43       Agriculture
Name: 6, dtype: object

In [14]:
#100*(df1.iloc[6].dropna()[-2] - df1.iloc[6].dropna()[-3])/df1.iloc[6].dropna()[-3]

In [15]:
#index = -2
#100*(df1.iloc[6].dropna()[index] - df1.iloc[6].dropna()[index-1])/df1.iloc[6].dropna()[index-1]

In [16]:
#index -=1
#index

In [17]:
column = 12

df1.iloc[3].dropna()[column]

'I'

In [18]:
column = 12
#df1.iloc[3].dropna()[column]
RomanToArab(df1.iloc[3].dropna()[column])

1

In [19]:
column

12

In [20]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [21]:
column = 25
year = 2018
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1
    print(year, RomanToArab(df1.iloc[3][c]), df1.iloc[5][c], "Total", j)
    j=1
    for i in range(13, 18):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1    
    print(year, RomanToArab(df1.iloc[3][c]), df1.iloc[12][c], "Total", j)
    column+=1
 

column+=1
year +=1
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1
    j=1
    for i in range(13, 18):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1  
    column+=1

    
column+=1
year +=1
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1
    j=1
    for i in range(13, 18):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1    
    column+=1

column+=1
year +=1
for c in range(column, column+3):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1
   # print(year, RomanToArab(df1.iloc[3][c]), df1.iloc[5][c], "Total", j)
    j=1
    for i in range(13, 18):
        print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
        j+=1 
    column+=1

2018 1 23.3    Agriculture 1
2018 1 26.2    Mining and quarrying 2
2018 1 72.6    Manufacturing 3
2018 1 16.6    Construction 4
2018 1 183.4    Services 5
2018 1 327.1 Total 6
2018 1 3.1    Agriculture 1
2018 1 -2.4    Mining and quarrying 2
2018 1 5.2    Manufacturing 3
2018 1 4.9    Construction 4
2018 1 6.6    Services 5
2018 1 5.3 Total 6
2018 2 23.3    Agriculture 1
2018 2 25.9    Mining and quarrying 2
2018 2 75.7    Manufacturing 3
2018 2 16    Construction 4
2018 2 188.3    Services 5
2018 2 333.4 Total 6
2018 2 -1.5    Agriculture 1
2018 2 -1.3    Mining and quarrying 2
2018 2 4.9    Manufacturing 3
2018 2 4.8    Construction 4
2018 2 6.6    Services 5
2018 2 4.8 Total 6
2018 3 27.1    Agriculture 1
2018 3 24.2    Mining and quarrying 2
2018 3 77.1    Manufacturing 3
2018 3 17.2    Construction 4
2018 3 196.9    Services 5
2018 3 345.7 Total 6
2018 3 -0.7    Agriculture 1
2018 3 -5    Mining and quarrying 2
2018 3 5    Manufacturing 3
2018 3 4.7    Construction 4
2018 3 7.3    Services 5
2018 3 4.5 Total 6
2018 4 26    Agriculture 1
2018 4 27.3    Mining and quarrying 2
2018 4 79.3    Manufacturing 3
2018 4 16.4    Construction 4
2018 4 204.4    Services 5
2018 4 357.5 Total 6
2018 4 -0.1    Agriculture 1
2018 4 -0.1    Mining and quarrying 2
2018 4 4.7    Manufacturing 3
2018 4 2.5    Construction 4
2018 4 6.9    Services 5
2018 4 4.8 Total 6
2019 1 24.7    Agriculture 1
2019 1 26.2    Mining and quarrying 2
2019 1 75.6    Manufacturing 3
2019 1 16.7    Construction 4
2019 1 195.2    Services 5
2019 1 6.1    Agriculture 1
2019 1 -0.1    Mining and quarrying 2
2019 1 4.1    Manufacturing 3
2019 1 0.6    Construction 4
2019 1 6.5    Services 5
2019 2 24.3    Agriculture 1
2019 2 26.6    Mining and quarrying 2
2019 2 79    Manufacturing 3
2019 2 16.2    Construction 4
2019 2 199.9    Services 5
2019 2 4.2    Agriculture 1
2019 2 2.9    Mining and quarrying 2
2019 2 4.3    Manufacturing 3
2019 2 1.1    Construction 4
2019 2 6.2    Services 5
2019 3 28.1    Agriculture 1
2019 3 23.6    Mining and quarrying 2
2019 3 79.9    Manufacturing 3
2019 3 17    Construction 4
2019 3 208.6    Services 5
2019 3 3.7    Agriculture 1
2019 3 -2.8    Mining and quarrying 2
2019 3 3.6    Manufacturing 3
2019 3 -1.4    Construction 4
2019 3 5.9    Services 5
2019 4 24.5    Agriculture 1
2019 4 26.6    Mining and quarrying 2
2019 4 81.7    Manufacturing 3
2019 4 16.6    Construction 4
2019 4 217.1    Services 5
2019 4 -5.5    Agriculture 1
2019 4 -2.5    Mining and quarrying 2
2019 4 3    Manufacturing 3
2019 4 1.3    Construction 4
2019 4 6.2    Services 5
2020 1 22.6    Agriculture 1
2020 1 25.4    Mining and quarrying 2
2020 1 76.7    Manufacturing 3
2020 1 15.4    Construction 4
2020 1 201.3    Services 5
2020 1 -8.6    Agriculture 1
2020 1 -2.9    Mining and quarrying 2
2020 1 1.4    Manufacturing 3
2020 1 -7.9    Construction 4
2020 1 3.1    Services 5
2020 2 24.5    Agriculture 1
2020 2 21.1    Mining and quarrying 2
2020 2 64.5    Manufacturing 3
2020 2 9    Construction 4
2020 2 167.5    Services 5
2020 2 0.9    Agriculture 1
2020 2 -20.8    Mining and quarrying 2
2020 2 -18.3    Manufacturing 3
2020 2 -44.5    Construction 4
2020 2 -16.2    Services 5
2020 3 28    Agriculture 1
2020 3 21.7    Mining and quarrying 2
2020 3 82.5    Manufacturing 3
2020 3 14.9    Construction 4
2020 3 200.3    Services 5
2020 3 -0.3    Agriculture 1
2020 3 -7.8    Mining and quarrying 2
2020 3 3.3    Manufacturing 3
2020 3 -12.4    Construction 4
2020 3 -4    Services 5
2020 4 24.3    Agriculture 1
2020 4 23.8    Mining and quarrying 2
2020 4 84.2    Manufacturing 3
2020 4 14.3    Construction 4
2020 4 206.7    Services 5
2020 4 -1    Agriculture 1
2020 4 -10.4    Mining and quarrying 2
2020 4 3    Manufacturing 3
2020 4 -13.9    Construction 4
2020 4 -4.8    Services 5
2021 1 22.6    Agriculture 1
2021 1 24.1    Mining and quarrying 2
2021 1 81.8    Manufacturing 3
2021 1 13.8    Construction 4
2021 1 196.7    Services 5
2021 1 0.2    Agriculture 1
2021 1 -5    Mining and quarrying 2
2021 1 6.6    Manufacturing 3
2021 1 -10.4    Construction 4
2021 1 -2.3    Services 5
2021 2 24.1    Agriculture 1
2021 2 24    Mining and quarrying 2
2021 2 81.7    Manufacturing 3
2021 2 12.6    Construction 4
2021 2 190    Services 5
2021 2 -1.5    Agriculture 1
2021 2 13.9    Mining and quarrying 2
2021 2 26.6    Manufacturing 3
2021 2 40.3    Construction 4
2021 2 13.5    Services 5
2021 3 27.5    Agriculture 1
2021 3 20.9    Mining and quarrying 2
2021 3 81.9    Manufacturing 3
2021 3 11.8    Construction 4
2021 3 190.4    Services 5
2021 3 -1.9    Agriculture 1
2021 3 -3.6    Mining and quarrying 2
2021 3 -0.8    Manufacturing 3
2021 3 -20.6    Construction 4
2021 3 -4.9    Services 5

In [22]:
column =43
year = 2021

In [23]:
index = -2
column -= 1 
#year -=1
for c in range(column, column-3, -1):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), 100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1], df1.iloc[i][43], j)
       # index -=1
        j+=1
    print( year , RomanToArab(df1.iloc[3][c]), 100*(df1.iloc[5].dropna()[index] - df1.iloc[5].dropna()[index-1])/df1.iloc[5].dropna()[index-1], "Total", j)
    j=1
    index -=1
    #for i in range(13, 18):
    #    print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
    #    j+=1    
    column-=1

column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), 100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1], df1.iloc[i][43], j)
       # index -=1
        j+=1
    j=1
    index -=1
    #for i in range(13, 18):
    #    print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
    #    j+=1    
    column-=1
    
column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), 100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1], df1.iloc[i][43], j)
       # index -=1
        j+=1
    j=1
    index -=1
    #for i in range(13, 18):
    #    print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
    #    j+=1    
    column-=1
    
column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        print( year , RomanToArab(df1.iloc[3][c]), 100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1], df1.iloc[i][43], j)
       # index -=1
        j+=1
    index -=1
    #for i in range(13, 18):
    #    print( year , RomanToArab(df1.iloc[3][c]), df1.iloc[i][c], df1.iloc[i][43], j)
    #    j+=1    
    column-=1

2021 3 14.10788381742738    Agriculture 1
2021 3 -12.916666666666671    Mining and quarrying 2
2021 3 0.24479804161567054    Manufacturing 3
2021 3 -6.34920634920634    Construction 4
2021 3 0.21052631578947667    Services 5
2021 3 -0.20802377414561327 Total 6
2021 2 6.63716814159292    Agriculture 1
2021 2 -0.41493775933610544    Mining and quarrying 2
2021 2 -0.12224938875304929    Manufacturing 3
2021 2 -8.695652173913052    Construction 4
2021 2 -3.4062023385866746    Services 5
2021 2 -1.8950437317784257 Total 6
2021 1 -6.9958847736625485    Agriculture 1
2021 1 1.2605042016806751    Mining and quarrying 2
2021 1 -2.850356294536824    Manufacturing 3
2021 1 -3.4965034965034962    Construction 4
2021 1 -4.837929366231253    Services 5
2021 1 -4.163174070969538 Total 6
2020 4 -13.214285714285712    Agriculture 1
2020 4 9.677419354838717    Mining and quarrying 2
2020 4 2.060606060606064    Manufacturing 3
2020 4 -4.02684563758389    Construction 4
2020 4 3.1952071892161644    Services 5
2020 3 14.285714285714286    Agriculture 1
2020 3 2.843601895734587    Mining and quarrying 2
2020 3 27.906976744186046    Manufacturing 3
2020 3 65.55555555555556    Construction 4
2020 3 19.582089552238813    Services 5
2020 2 8.407079646017692    Agriculture 1
2020 2 -16.929133858267708    Mining and quarrying 2
2020 2 -15.906127770534553    Manufacturing 3
2020 2 -41.55844155844156    Construction 4
2020 2 -16.79085941381024    Services 5
2020 1 -7.755102040816321    Agriculture 1
2020 1 -4.511278195488733    Mining and quarrying 2
2020 1 -6.119951040391677    Manufacturing 3
2020 1 -7.228915662650609    Construction 4
2020 1 -7.277752187931821    Services 5
2019 4 -12.811387900355875    Agriculture 1
2019 4 12.711864406779661    Mining and quarrying 2
2019 4 2.2528160200250276    Manufacturing 3
2019 4 -2.35294117647058    Construction 4
2019 4 4.074784276126558    Services 5
2019 3 15.63786008230453    Agriculture 1
2019 3 -11.278195488721805    Mining and quarrying 2
2019 3 1.139240506329121    Manufacturing 3
2019 3 4.938271604938276    Construction 4
2019 3 4.352176088044017    Services 5
2019 2 -1.619433198380561    Agriculture 1
2019 2 1.5267175572519165    Mining and quarrying 2
2019 2 4.497354497354506    Manufacturing 3
2019 2 -2.9940119760479043    Construction 4
2019 2 2.4077868852459106    Services 5
2019 1 -5.000000000000002    Agriculture 1
2019 1 -4.0293040293040345    Mining and quarrying 2
2019 1 -4.665825977301391    Manufacturing 3
2019 1 1.8292682926829313    Construction 4
2019 1 -4.500978473581221    Services 5
2018 4 -4.0590405904059095    Agriculture 1
2018 4 12.809917355371907    Mining and quarrying 2
2018 4 2.853437094682235    Manufacturing 3
2018 4 -4.651162790697679    Construction 4
2018 4 3.809040121889284    Services 5
2018 3 16.30901287553648    Agriculture 1
2018 3 -6.563706563706562    Mining and quarrying 2
2018 3 1.8494055482166334    Manufacturing 3
2018 3 7.499999999999996    Construction 4
2018 3 4.567180031864043    Services 5
2018 2 0.0    Agriculture 1
2018 2 -1.145038167938934    Mining and quarrying 2
2018 2 4.269972451790646    Manufacturing 3
2018 2 -3.6144578313253093    Construction 4
2018 2 2.6717557251908426    Services 5
2018 1 -10.384615384615383    Agriculture 1
2018 1 -4.0293040293040345    Mining and quarrying 2
2018 1 -4.221635883905017    Manufacturing 3
2018 1 3.750000000000009    Construction 4
2018 1 -4.079497907949782    Services 5

In [24]:
for c in range(column, column-3, -1):
    print(c)

24
23
22

In [25]:
for year in range(2018, 2022):
    print(year)
    df1.iloc[6]

2018
2019
2020
2021

In [26]:
df1['Unnamed: 15'][2]

2016

In [27]:
df1.iloc[2][15]

2016

In [28]:
df1.iloc[2].dropna().tail(6)

Unnamed: 15    2016
Unnamed: 20    2017
Unnamed: 25    2018
Unnamed: 30    2019
Unnamed: 35    2020
Unnamed: 40    2021
Name: 2, dtype: object

In [29]:
df1.iloc[2].dropna().tail(6).astype(int)

Unnamed: 15    2016
Unnamed: 20    2017
Unnamed: 25    2018
Unnamed: 30    2019
Unnamed: 35    2020
Unnamed: 40    2021
Name: 2, dtype: int32

In [30]:
df1.iloc[3].dropna()

Unnamed: 10      I
Unnamed: 11     II
Unnamed: 12    III
Unnamed: 13     IV
Unnamed: 15      I
Unnamed: 16     II
Unnamed: 17    III
Unnamed: 18     IV
Unnamed: 20      I
Unnamed: 21     II
Unnamed: 22    III
Unnamed: 23     IV
Unnamed: 25      I
Unnamed: 26     II
Unnamed: 27    III
Unnamed: 28     IV
Unnamed: 30      I
Unnamed: 31     II
Unnamed: 32    III
Unnamed: 33     IV
Unnamed: 35      I
Unnamed: 36     II
Unnamed: 37    III
Unnamed: 38     IV
Unnamed: 40      I
Unnamed: 41     II
Unnamed: 42    III
Name: 3, dtype: object

In [31]:
df1.iloc[5].dropna()

Unnamed: 2       KDNK pada harga malar 2015 (RM bilion)
Unnamed: 4                                         1177
Unnamed: 5                                       1229.3
Unnamed: 6                                       1300.8
Unnamed: 7                                       1363.8
Unnamed: 8                                       1424.3
Unnamed: 9                                       1343.9
Unnamed: 10                                       282.3
Unnamed: 11                                         289
Unnamed: 12                                         298
Unnamed: 13                                       307.7
Unnamed: 15                                       294.3
Unnamed: 16                                         301
Unnamed: 17                                       311.5
Unnamed: 18                                       322.5
Unnamed: 20                                       310.7
Unnamed: 21                                       318.2
Unnamed: 22                                       330.7
Unnamed: 23                                       341.1
Unnamed: 25                                       327.1
Unnamed: 26                                       333.4
Unnamed: 27                                       345.7
Unnamed: 28                                       357.5
Unnamed: 30                                       342.4
Unnamed: 31                                         350
Unnamed: 32                                       361.3
Unnamed: 33                                       370.6
Unnamed: 35                                       344.7
Unnamed: 36                                       289.7
Unnamed: 37                                       351.6
Unnamed: 38                                       357.9
Unnamed: 40                                         343
Unnamed: 41                                       336.5
Unnamed: 42                                       335.8
Unnamed: 43    GDP at constant 2015 prices (RM billion)
Name: 5, dtype: object

In [32]:
"""
def RomanToArab(quarter):
    return {
            'I': 1,
            'II': 2,
            'III': 3,
            'IV': 4
            
    }[quarter]
    
    
"""

"\ndef RomanToArab(quarter):\n    return {\n            'I': 1,\n            'II': 2,\n            'III': 3,\n            'IV': 4\n            \n    }[quarter]\n    \n    \n"

In [33]:
#df1['Unnamed: 42'].drop([3]).dropna() - df1['Unnamed: 41'].drop([3]).dropna()

In [34]:
#df1.iloc[2].dropna()

In [35]:
#pd.to_numeric(df1.iloc[2], errors= 'coerce').dropna().astype(int)

In [36]:
#min(pd.to_numeric(df1.iloc[2], errors= 'coerce').dropna().astype(int))

In [37]:
#start_year = 2016
#start_year

In [38]:
index_start_year = df1.columns.get_loc(df1.iloc[2][df1.iloc[2]==start_year].index[-1])
index_start_year

NameError: name 'start_year' is not defined

In [39]:
df1.columns.get_loc(df1.iloc[2][df1.iloc[2]==latest_year].index[-1])

NameError: name 'latest_year' is not defined

In [40]:
#df1.iloc[2].dropna()

In [41]:
latest_year = df1.iloc[2].dropna()[-1]
latest_year

2021

In [42]:
#df1.iloc[2].dropna()[6]

In [43]:
#years = df2.iloc[2].dropna()

In [44]:
#years

In [45]:
#years[years.apply(lambda x: isinstance(x, int))]

In [46]:
#max(years[years.apply(lambda x: isinstance(x, int))])

In [47]:
df1.iloc[3].dropna()[0]

'I'

In [48]:
df1.iloc[3][index_start_year]

NameError: name 'index_start_year' is not defined

In [49]:
df1.iloc[3]

Unnamed: 0     NaN
Unnamed: 1     NaN
Unnamed: 2     NaN
Unnamed: 3     NaN
Unnamed: 4     NaN
Unnamed: 5     NaN
Unnamed: 6     NaN
Unnamed: 7     NaN
Unnamed: 8     NaN
Unnamed: 9     NaN
Unnamed: 10      I
Unnamed: 11     II
Unnamed: 12    III
Unnamed: 13     IV
Unnamed: 14    NaN
Unnamed: 15      I
Unnamed: 16     II
Unnamed: 17    III
Unnamed: 18     IV
Unnamed: 19    NaN
Unnamed: 20      I
Unnamed: 21     II
Unnamed: 22    III
Unnamed: 23     IV
Unnamed: 24    NaN
Unnamed: 25      I
Unnamed: 26     II
Unnamed: 27    III
Unnamed: 28     IV
Unnamed: 29    NaN
Unnamed: 30      I
Unnamed: 31     II
Unnamed: 32    III
Unnamed: 33     IV
Unnamed: 34    NaN
Unnamed: 35      I
Unnamed: 36     II
Unnamed: 37    III
Unnamed: 38     IV
Unnamed: 39    NaN
Unnamed: 40      I
Unnamed: 41     II
Unnamed: 42    III
Unnamed: 43    NaN
Unnamed: 44    NaN
Unnamed: 45    NaN
Unnamed: 46    NaN
Unnamed: 47    NaN
Unnamed: 48    NaN
Name: 3, dtype: object

In [50]:
#import roman

latest_quarter = df1.iloc[3].dropna()[-1]
#latest_quarter=roman.fromRoman(latest_quarter)
latest_quarter

'III'

In [51]:
#pip install roman

In [52]:
#df1.iloc[3].dropna()[-1]

In [53]:
previous_quarter = df1.iloc[3].dropna()[-2]
previous_quarter

'II'

In [54]:
#df1.iloc[3][df1.iloc[3] == latest_quarter].index

In [55]:
#df1.iloc[3][df1.iloc[3] == latest_quarter].index[-1]

In [56]:
#df1.columns.get_loc(df1.iloc[3][df1.iloc[3] == latest_quarter].index[-1])

In [57]:
#df1.iloc[3][df1.iloc[3] == previous_quarter].index

In [58]:
index_latest_quarter =  df1.columns.get_loc(df1.iloc[3][df1.iloc[3] == latest_quarter].index[-1])

In [59]:
index_latest_quarter

42

In [60]:
index_previous_quarter = df1.columns.get_loc(df1.iloc[3][df1.iloc[3] == previous_quarter].index[-1])

In [61]:
index_previous_quarter

41

In [62]:
df1.iloc[13].dropna()[-1]

'   Agriculture'

In [63]:
df1.iloc[13][index_latest_quarter-3]

nan

In [64]:
print('\033[1m','Latest year:',latest_year,'   Latest quarter:',latest_quarter,'\033[0m')

print('\033[1m','Annual growth rate of latest quarterly GDP (subsectors):','\033[0m')
growth_rate = []

for i in range(13,18):
    print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter],'%')
    growth_rate.append([df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter]])
    
#for i in range(20,27):
 #   print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter])

 Latest year: 2021    Latest quarter: III
 Annual growth rate of latest quarterly GDP (subsectors):
   Agriculture -1.9 %
   Mining and quarrying -3.6 %
   Manufacturing -0.8 %
   Construction -20.6 %
   Services -4.9 %

In [65]:
df_annual_growth_rate = pd.DataFrame(growth_rate, columns = ['Sector', 'Rate'])
df_annual_growth_rate

                    Sector  Rate
0              Agriculture  -1.9
1     Mining and quarrying  -3.6
2            Manufacturing  -0.8
3             Construction -20.6
4                 Services  -4.9

In [66]:
#df1.iloc[6][index_previous_quarter] - df1.iloc[6][index_latest_quarter]

In [67]:
#((df1.iloc[6][index_latest_quarter] - df1.iloc[6][index_previous_quarter])/df1.iloc[6][index_previous_quarter])*100

In [68]:
print('\033[1m','Latest year:',latest_year,'   Latest quarter:',latest_quarter,'\033[0m')

print('\033[1m','Latest quarter to quarter comparison of GDP growth rate:','\033[0m')

q2q_growth_rate = []

for i in range(6,11):
    print(df1.iloc[i].dropna()[-1],
          ((df1.iloc[i][index_latest_quarter] - df1.iloc[i][index_previous_quarter])/df1.iloc[i][index_previous_quarter])*100,
         "%")
    q2q_growth_rate.append([df1.iloc[i].dropna()[-1],
          ((df1.iloc[i][index_latest_quarter] - df1.iloc[i][index_previous_quarter])/df1.iloc[i][index_previous_quarter])*100])
    #print(df1.iloc[-i])

 Latest year: 2021    Latest quarter: III
 Latest quarter to quarter comparison of GDP growth rate:
   Agriculture 14.10788381742738 %
   Mining and quarrying -12.916666666666673 %
   Manufacturing 0.24479804161567056 %
   Construction -6.349206349206341 %
   Services 0.21052631578947667 %

In [69]:
df_q2q_growth_rate = pd.DataFrame(q2q_growth_rate, columns = ['Sector', 'Rate'])
df_q2q_growth_rate

                    Sector       Rate
0              Agriculture  14.107884
1     Mining and quarrying -12.916667
2            Manufacturing   0.244798
3             Construction  -6.349206
4                 Services   0.210526

In [70]:
"""
import pyodbc
import os, time
import roman
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

for index, row in df_annual_growth_rate.iterrows():
    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
                    2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
    
for index, row in df_q2q_growth_rate.iterrows():
    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
                    2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cnxn.commit()
cursor.close()

"""

'\nimport pyodbc\nimport os, time\nimport roman\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\n\nfor index, row in df_annual_growth_rate.iterrows():\n    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n                    2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 0, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n    \nfor index, row in df_q2q_growth_rate.iterrows():\n    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n                    2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncnxn.commit()\ncursor.close()\n\n'

In [71]:
import pyodbc
import os, time
import roman
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

#for index, row in df_annual_growth_rate.iterrows():
   # cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #               2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
    
#for index, row in df_q2q_growth_rate.iterrows():
   # cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                2,index+1,1, int(latest_year), roman.fromRoman(latest_quarter), row.Rate, 1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

#for index, row in df_annual_growth_rate.iterrows():
#    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(-1)+' , @Value='+str(df1.iloc[i][column])+', @Is_Q2Q=0')

#for index, row in df_q2q_growth_rate.iterrows():
#    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][column]))+' , @Value='+str(df1.iloc[i][column])+', @Is_Q2Q=0')

    
column = 25
year = 2018
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+', @Is_percentage=0, @Is_Q2Q=0')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[5][c])+', @Is_percentage=0, @Is_Q2Q=0')
   
    j=1
    for i in range(13, 18):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+', @Is_percentage= 0, @Is_Q2Q= 1') #have no idea why the value flip 28/2/2022, hence will flip the value for this query
        j+=1    
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[12][c])+', @Is_percentage= 0, @Is_Q2Q= 1') #have no idea why the value flip 28/2/2022, hence will flip the value for this query
    column+=1
 
column += 1 
year +=1
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+', @Is_percentage=0, @Is_Q2Q=0')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[5][c])+', @Is_percentage=0, @Is_Q2Q=0')

    j=1
    for i in range(13, 18):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+', @Is_percentage=0, @Is_Q2Q=1')
        j+=1    
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[12][c])+', @Is_percentage=0, @Is_Q2Q=1')
   
    column+=1
    
column += 1 
year +=1
for c in range(column, column+4):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+',@Is_percentage=0, @Is_Q2Q=0')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[5][c])+',@Is_percentage=0, @Is_Q2Q=0')

    j=1
    for i in range(13, 18):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+',  @Is_percentage=0, @Is_Q2Q=1')
        j+=1    
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[12][c])+',  @Is_percentage=0, @Is_Q2Q=1')
 
    column+=1
    
column += 1 
year +=1
for c in range(column, column+3):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+', @Is_percentage=0,@Is_Q2Q=0')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[5][c])+', @Is_percentage=0,@Is_Q2Q=0')
   
    j=1
    for i in range(13, 18):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[i][c])+',  @Is_percentage=0, @Is_Q2Q=1')
        j+=1    
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(df1.iloc[12][c])+',  @Is_percentage=0, @Is_Q2Q=1')

    column+=1    
    
    
index = -2
column -= 1 
#year -=1
for c in range(column, column-3, -1):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1])+', @Is_percentage=1, @Is_Q2Q=1')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[5].dropna()[index] - df1.iloc[5].dropna()[index-1])/df1.iloc[5].dropna()[index-1])+', @Is_percentage=1, @Is_Q2Q=1')

    index -=1
    column-=1
    
column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1])+', @Is_percentage=1,@Is_Q2Q=1')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[5].dropna()[index] - df1.iloc[5].dropna()[index-1])/df1.iloc[5].dropna()[index-1])+', @Is_percentage=1,@Is_Q2Q=1')

    index -=1
    column-=1    

column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1])+', @Is_percentage=1,@Is_Q2Q=1')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[5].dropna()[index] - df1.iloc[5].dropna()[index-1])/df1.iloc[5].dropna()[index-1])+', @Is_percentage=1,@Is_Q2Q=1')

    index -=1
    column-=1 
    
column -= 1 
year -=1
for c in range(column, column-4, -1):
    j=1
    for i in range(6, 11):
        cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[i].dropna()[index] - df1.iloc[i].dropna()[index-1])/df1.iloc[i].dropna()[index-1])+', @Is_percentage=1, @Is_Q2Q=1')
        j+=1
    cursor.execute('[dbo].[SP_QUARTERLYGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(j)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter='+str(RomanToArab(df1.iloc[3][c]))+' , @Value_RM_billions='+str(100*(df1.iloc[5].dropna()[index] - df1.iloc[5].dropna()[index-1])/df1.iloc[5].dropna()[index-1])+', @Is_percentage=1, @Is_Q2Q=1')

    index -=1
    column-=1 
    
    
cnxn.commit()
cursor.close()